<ion-content>
  <app-header defaultHref="/tabs/campus" img="assets/icons/admin-panel.svg" text="admin panel">
  </app-header>
  <div class="banner">
    <app-avatar></app-avatar>
    <h3>{{(campus.designer | jsonToData).name}}</h3>
    <p class="address">{{campus.location}}</p>
    <a>
      <img src="../../../../../assets/icons/edit-pencil.svg" alt="" />
      Editar
    </a>
  </div>
  <ion-list>
    <ion-item   *ngFor="let item of items"  >
      <ion-label >{{item.text}}</ion-label>
      <ion-buttons slot="end">
        <ion-button [routerLink]="item.route" >
          <ion-icon slot="icon-only" name="chevron-forward"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
