@import "../../../../../../scss/variables.scss";

ion-content {
  --background: #fff;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2.5rem 0 4.2rem;
  background: $primary-color;
  color: #fff;

  h3 {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.2rem;
    text-transform: uppercase;
  }

  p {
    width: 15.5rem;
    margin-bottom: 2.6rem;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.7rem;
    text-align: center;
  }

  a {
    display: flex;
    align-items: ceter;
    img {
      margin-right: 0.6rem;
    }
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 20px;
    text-decoration: none;
    color: #fff;
  }
}

ion-list {
  background: transparent;

  ion-item {
    --background: transparent;
    --padding-start: 14px;
    --padding-end: 14px;
    --border-color: #ddd;
    --inner-padding-end: 0;


    ion-label {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #383838;
      text-transform: uppercase;
    }

    ion-icon {
      color: $blue
    }
  }
  
}
