
<ion-content>
  <section>
    <div class="banner">
      <div *ngIf="userName" class="banner-text">
        <h2>¡Hola, {{userName}}!</h2>        
        <p>Busca todo lo que necesites en tu comunidad golfística</p>
      </div>

      <div *ngIf="!userName" style="height: 190px;" class="ion-text-center ion-padding">
        <ion-spinner color="light"></ion-spinner>
      </div>
      <div class="data-input">
        <input type="text" placeholder="Campos, Destinos, Torneos" />
        <img src="../../../../assets/icon/search.png" alt="" />
      </div>

      <a><img src="../../../../assets/icon/busqueda-avanzada.png" alt="" />
        Búsqueda Avanzada</a>
    </div>
  </section>
  <section class="main-section">
   

    <div *ngIf="loading" style="height: 190px;" class="ion-text-center ion-padding">
      <ion-spinner color="primary"></ion-spinner>
    </div>
    <div *ngIf="campusSvg.golfCourses.value.length" class="slides-container">
      <div class="slides-container__header">
        <p class="slide-text">Campos cerca de ti...</p>
        <a class="view-map" routerLink="/tabs/campus"><img src="../../../../assets/icon/busqueda-avanzada.png" alt="" />
          Ver Mapa</a>
      </div>
      <div class="galery">
        <ul class="stories-list">
          <li *ngFor="let c of campusSvg.golfCourses.value">
            <app-story-card [course]="c"></app-story-card>
          </li>
        </ul>
      </div>
    </div>
 
    <div *ngIf="tournaments.length" class="slides-container">
      <div class="slides-container__header">
        <p class="slide-text">Próximos eventos en tu zona...</p>
        <a class="view-map"><img src="../../../../assets/icon/map.png" alt="" /> Ver Más</a>
      </div>
      <div class="gallery">
        <ul class="stories-list">
          <li *ngFor="let t of tournaments">
            <app-event-card [tournament]="t"></app-event-card>
          </li>          
        </ul>
      </div>
    </div>  
        
  

    <div *ngIf="people.length" class="slides-container">
      <div class="slides-container__header">
        <p class="slide-text only">Personas que quizas conozcas...</p>
      </div>
      <div class="galery">
        <ul class="stories-list">
          <li *ngFor="let user of people">
            <app-people [user]="user"></app-people>
          </li>
        </ul>
      </div>

    </div>


    <app-posts (loadMore)="onLoadMore()" [loadingMore]="isLoadingMore" [posts]="posts"></app-posts>

    <div style="width: 100%;height: 20vh;background: white;" *ngIf="!tournaments.length"></div>
  </section>
</ion-content>