<ion-header class="ion-text-center">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/website">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-title>
      <h2>
        <img src="../../../../assets/icons/message.svg" alt="" /> mensajes
      </h2>
    </ion-title>
  </ion-toolbar>
  <ion-item class="user-info-chat ion-no-padding">
    <ion-avatar class="ion-margin">
      <img [src]="avatar" />
    </ion-avatar>
    <ion-label>
      <h3>{{user.name}}</h3>
    </ion-label>
  </ion-item>
</ion-header>

<ion-content class="ion-padding">
  <p
    *ngFor="let msg of messages"
    class="message"
    [ngClass]="{'my-message': myId == msg.user_id, 'other-message':myId != msg.user_id }"
  >
    <span>{{msg.message}}</span>
  </p>
</ion-content>
<ion-footer>
  <ion-item lines="none" class="text-area-container ion-no-border">
    <textarea
      class="ion-no-margin ion-no-border"
      placeholder="Escribe algo"
      [(ngModel)]="message"
      (ngModelChange)="captureValue($event)  "
    ></textarea>
    <a (click)="onSendMessage()">
      <img src="../../../../assets/icons/grey-message.svg" alt="" />
    </a>
  </ion-item>
</ion-footer>
