ion-header {
  border: 0 !important;
  ion-toolbar {
    --background: #00388b !important;
    ion-title {
      margin-right: 50px;

      h2 {
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 2.2rem;
        /* identical to box height, or 22px */

        font-variant: small-caps;
        display: flex;
        justify-content: center;

        color: #ffffff;
        text-transform: uppercase;

        img {
          width: 18px;
          height: 18px;
          object-fit: cover;
          margin-right: 0.8rem;
        }
      }
    }
  }

  ion-button {
    width: 54px;
    height: 100%;

    ion-icon {
      color: #fff;
    }
  }

  &::after{
    display: none;
  }


}