<ion-content class="vertical-align-center">
  <!-- <ion-grid> -->
  <ion-row justify-content-center>
    <ion-col class="pricipal-col">
      <div class="register-card">
        <div class="image-container text-center">
          <ion-img
            class="step-img center"
            src="assets/img/player1.png"
          ></ion-img>
        </div>
        <h2 class="title-text-pos text-center">Analicemos tu nivel</h2>
        <p class="subtitle-text-pos text-center">
          Responde estas preguntas para poder deducir tu nivel actual
        </p>
        <form [formGroup]="handicapForm">
          <ion-list>
            <p class="profile-license text-center">
              ¿Cúal es tu Handicap federativo?
            </p>
            <ion-item lines="none">
              <input
                formControlName="handicap"
                type="number"
                class="handicapInput"
                placeholder="00"
                interface="popover"
                (onchange)="getHandicapValue($event)"
              />

              <input
                formControlName="decimal"
                type="number"
                class="handicapInput"
                maxlength="2"
                placeholder="00"
                interface="popover"
                (onchange)="getDecimalValue($event)"
              />
            </ion-item>
            <ion-row>
              <!-- {{handicapForm.get('handicap').errors | json}} -->
              <ion-col>
                <div
                  class="error-message"
                  *ngIf="handicapForm.get('handicap')?.errors?.isInvalid"
                >
                  valor máximo 54
                </div>
                <div
                  class="error-message"
                  *ngIf="handicapForm.get('handicap')?.touched && handicapForm.get('handicap')?.errors?.['required']"
                >
                  Este campo es obligatorio
                </div>
              </ion-col>
              <ion-col>
                <div
                  class="error-message"
                  *ngIf="handicapForm.get('decimal')?.touched && handicapForm.get('decimal')?.errors?.['required']"
                >
                  Los campos son obligatorios
                </div>
              </ion-col>
              <p class="profile-license text-center">
                {{ handicapForm.valid }}
              </p>
            </ion-row>
            <div class="validation-errors"></div>
            <p class="profile-license text-center">
              ¿Cúanto tiempo llevas jugando?
            </p>
            <ion-item lines="none">
              <div class="buttons-containers">
                <ion-row>
                  <ion-col class="ion-text-center">
                    <button class="experience-button" (click)="timePlaying = 1">
                      Menos de 1 año
                    </button>
                    <!-- <input type="button" value="Menos de un año" (click)="timePlaying = 1"> -->
                  </ion-col>
                  <ion-col class="ion-text-center">
                    <button class="experience-button" (click)="timePlaying = 2">
                      De 3 a 5 años
                    </button>
                  </ion-col>
                </ion-row>
                <ion-row class="top-10">
                  <ion-col class="ion-text-center">
                    <button
                      class="experience-button"
                      (click)="timePlaying = 3"
                      value
                    >
                      De 5 a 10 años
                    </button>
                  </ion-col>
                  <ion-col class="ion-text-center">
                    <button
                      class="experience-button"
                      (click)="timePlaying = 4"
                      value
                    >
                      Más de 10 años
                    </button>
                  </ion-col>
                </ion-row>
              </div>
            </ion-item>
          </ion-list>
        </form>
        <div>
          <ion-button
            class="next-button"
            (click)="onSubmit()"
            type="submit"
            shape="round"
            expand="block"
          >
            <ion-icon name="arrow-forward"></ion-icon>
            Siguiente
          </ion-button>
          <p class="text-center back-link">
            <a [routerLink]="['/home']">Saltar</a>
          </p>
          <p></p>
          <div class="progress text-center">
            <ion-icon name="ellipse" class="progress-icon-done"></ion-icon>
            <ion-icon name="ellipse" class="progress-icon"></ion-icon>
            <ion-icon name="ellipse-outline" class="progress-icon"></ion-icon>
            <ion-icon name="ellipse-outline" class="progress-icon"></ion-icon>
          </div>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <!-- </ion-grid> -->
</ion-content>
