<ion-content class="vertical-align-center">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-sm="8" offset-sm="2">
        <div class="text-center">
          <ion-img class="step-img center" src="assets/img/player1.png"></ion-img>
        </div>
        <h2 class="title-text-pos text-center">Analicemos tu nivel</h2>
        <p class="subtitle-text-pos text-center">Responde estas preguntas para poder deducir tu nivel actual</p>
        <form>
          <ion-list>
            <p class="profile-field text-center">¿Cúal es tu Handicap federativo?</p>
            <ion-item lines="none">
              <ion-input
                type="text"
                ngModel
                name="licence"
              ><ion-icon name="pencil"></ion-icon></ion-input>
            </ion-item>
            <p class="profile-field text-center">¿Cúanto tiempo llevas jugando?</p>
            <ion-item lines="none">
              <ion-label>Experiencia de juego</ion-label>
              <ion-select ok-text="Ok" cancel-text="Cancelar">
                <ion-select-option value="menos de un año">Menos de un año</ion-select-option>
                <ion-select-option value="De 3 a 5 años">De 3 a 5 años</ion-select-option>
                <ion-select-option value="De 5 a 10 años">De 5 a 10 años</ion-select-option>
                <ion-select-option value="Más de 10 años">Más de 10 años</ion-select-option>
              </ion-select>
            </ion-item>
        </ion-list>
        <ion-button
          type="submit"
          shape="round"
          expand="block"
          [routerLink]="['/home']"
        >
          Siguiente
        </ion-button>
        </form>
        <p class="text-center"><a [routerLink]="['/home']">Saltar</a><p></p>
        <div class="progress text-center">
          <ion-icon name="ellipse-outline" class="progress-icon"></ion-icon>
          <ion-icon name="ellipse" class="progress-icon"></ion-icon>
          <ion-icon name="ellipse-outline" class="progress-icon"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

