<ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-back-button  defaultHref="/tabs/play"></ion-back-button>
  </ion-buttons>

  <ion-title class="ion-text-center">SCORECARD</ion-title>

  <ion-buttons slot="end">
    <ion-button>
      <ion-icon style="font-size: 23px;" src="../../../../../../../assets/icons/clipboard.svg"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-toolbar class="ion-text-center hole-toolbar" color="primary">
    <ion-icon (click)="backHole()" name="chevron-back"></ion-icon>
    <span class="hole">HOYO {{selectedHole.value}}</span>
    <ion-icon (click)="nextHole()" name="chevron-forward"></ion-icon>
</ion-toolbar>
<ion-toolbar class="data-toolbar" color="primary">
<ion-buttons slot="start">
  <ion-button>
    <ion-icon  src="../../../../../../../assets/icons/chat-points.svg"></ion-icon> 
  </ion-button>
</ion-buttons>
  <ion-title>
    <div>PAR 4 | HCP 14</div> 
  <div class="level">Dificultad: Media</div> 
  </ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon  name="heart-outline"></ion-icon> 
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content  class="ion-padding">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <table *ngIf="detail">
    <tr>
      <th class="ion-text-center">ㅤ</th>
      <th class="ion-text-center">ㅤ</th>
      <th class="ion-text-center">Golpes</th>
      <th class="ion-text-center"></th>
      <th class="ion-text-center">ㅤ</th>
      <th class="ion-text-center">Puntos</th>
    </tr>
    <tr *ngFor="let u of detail.users; index as i" class="bb">     
      <td>
        <ion-avatar>
          <img [src]="u.data.profile.photo ? u.data.profile.photo : 'assets/img/default-avatar.png'" />
        </ion-avatar>
      </td>
      <td style="width: 100px;">
        <div class="username">{{u.data.name}}</div>
        <div class="hcp">HCP 14</div>
      </td>
      <td>
       <div class="hits">{{u.hits ? u.hits : 0}}</div> 
      </td>
      <td>      
         <ion-icon (click)="editScoreCard(u)" src="../../../../../../../assets/icons/edit-pencil-grey.svg"></ion-icon>
       </td>
       <td [ngClass]="{'border-top': i == 0}" class="score">
        <div>*</div>
        <div>*</div>
        <div>*</div>
       </td>
       <td>
        <div class="hits">{{u.points ? u.points : 0}}</div> 
       </td>
    </tr>
  </table>

  <table *ngIf="!detail">
  
    <tr *ngFor="let item of [1,1,1,1,1,1]; index as i" class="bb">     
      <td>
        <ion-avatar>
          <ion-skeleton-text animated style="width: 100%;height: 100%;"></ion-skeleton-text>
        </ion-avatar>
      </td>
      <td style="width: 50%;">
        <div style="padding-bottom: 5px;" class="username"><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></div>
        <div class="hcp"><ion-skeleton-text animated style="width: 30%"></ion-skeleton-text></div>
      </td>
      <td style="width: 50%;">
       <div><ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></div> 
      </td>    
      
    </tr>
  </table>
</ion-content>