<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button  class="ion-margin">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-row> -->
  <!-- <ion-col size="12"> -->
  <app-post *ngIf="post" [post]="post"> </app-post>
  <!-- </ion-col> -->
  <!-- </ion-row> -->
</ion-content>

<!-- [userName]="user"
[id]="productId"
[description]="description"
[location]="ubication"
[images]="files" -->
