@import "../../../scss/variables.scss";

.post {
  background: #fff;
  width: 100%;

  .post-header {
    display: flex;
    width: 100%;
    height: 36px;
    margin-bottom: 0.5rem;
    padding: 0 1rem;
    align-items: center;

    ion-avatar {
      width: 31.5px;
      height: 31.5px;
      margin-right: 1.5rem;
    }
    .avatar {
      width: 31.5px;
      height: 31.5px;
      margin-right: 1.5rem;
      border-radius: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    // flex-direction: row;
    //  justify-content: space-between;

    // .perfil-image {
    //   width: 31.5px;
    //   height: 31.5px;
    // }

    .header-text {
      margin-right: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h3 {
        height: 50%;
        margin: 0;
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 1.2rem;

        letter-spacing: -0.165px;

        color: #000000;
      }

      p {
        height: 50%;

        font-weight: 500;
        font-size: 1rem;
        line-height: 1.1rem;

        letter-spacing: -0.165px;

        color: #000000;
      }
    }

    a {
      margin-left: 0.5rem;
      display: flex;
      align-items: center;
      font-size: 2.2rem;
      color: #4f4f4f;
    }
  }

  .swiper {
    width: 100%;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-bottom: 40px;
  }

  // .swiper-pagination-bullet-active {
  //   background: #007aff;
  // }

  // .swiper-pagination-bullet-active-prev,
  // .swiper-pagination-bullet-active-next {
  //   background: #ddd;
  // }

  .image-post {
    width: 100%;
    // height: 40rem;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
  .picture {
    width: 100%;
    // height: 100%;
    object-fit: cover;
  }



  .bottom {
    width: 100%;
    position: relative;
    bottom: 40px;
    z-index: 1;
    display: flex;
    flex-direction: column;
  }
  // .order {
  //   order: 2;
  // }

  .bottom-container {
    display: flex;
    flex-direction: column;

    .orderA{
      order: 1;
    }
    .orderB{
      order: 2;
    }

  }



  .reactions {

    --background: #fff;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    // width: 90%;
    // margin: 1.5rem 0 1.2rem;
    // padding: 0 10px;

    ion-icon {
      color: #333 !important ;
      font-size: 2.4rem;
      margin: 0;
      // transform: rotate(90deg);
    }

    width: 100%;
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.1rem;

    &-items {
      display: flex;
      a {
        display: flex;
        align-items: center;
        margin-right: 16.45px;

        .heart {
          width: 19.76px;
          height: 16.94px;
          object-fit: cover;
        }

        .commet {
          width: 19.32px;
          height: 16.27px;
          object-fit: cover;
        }

        .share {
          width: 19.81px;
          height: 17.24px;
          object-fit: cover;
        }
      }
    }

    .liked {
      color: #ed4956 !important;
    }
  }

  .description {
    width: 100%;
    height: auto;
    padding: 0 0.8rem 0.8rem;

    padding-bottom: 1rem;
    .likes {
      color: #000;
    }
    p {
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      line-height: 14.63px;

      letter-spacing: -0.165px;

      color: #000000;
    }

    h3 {
      font-size: 1.2rem;
      font-weight: 800;
      line-height: 1.5rem;
      letter-spacing: -0.165px;
      color: #000000;
    }

    &-text {
      p {
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: -0.165px;
        color: #000000;
      }

      .hashtag {
        color: $link-color;
      }
    }
  }

  .comments {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // width: 150px;
    // height: 2.5rem;
    // background-color: #ddd;
    // border: 0.6rem;
    // font-size: 1.6rem;
    // color: rgb(89, 89, 89);
    // text-align: center;
    padding: 8px;
    color: #000;
  }
}

// .post {
//   margin-top: 10px;
//   width: 100%;
//   max-width: 32rem;
//   margin: 10px auto;

//   -webkit-box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.5);
//   box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.5);

//   .post-header {
//     margin-bottom: 0;
//     ion-avatar {
//       width: 31.5px;
//       height: 31.5px;
//       margin-right: 1.5rem;
//     }

//     ion-label {
//       flex-direction: column;
//     }

//     h3 {
//       // margin: 0;
//       // margin-right: auto;
//       width: 100%;

//       font-weight: 500;
//       font-size: 1.2rem;
//       line-height: 1.2rem;

//       letter-spacing: -0.165px;

//       color: #000000;
//     }

//     p {
//       width: 100%;
//       font-weight: 600;
//       font-size: 1rem;
//       line-height: 1.1rem;

//       letter-spacing: -0.165px;

//       color: #000000;
//     }
//   }
//   .swiper {
//     width: 100%;
//     height: 20rem;

//     max-width: 45rem;
//   }

//   .swiper-slide {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     height: 100%;
//   }

//   .picture {
//     width: 100%;
//     height: 100%;
//     background-image: url(../../../../assets/post/image-post.png);
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//   }
//   ion-icon {
//     width: 22px;
//   }

//   .post-description {
//     padding-bottom: 1rem;
//     ion-label {
//       p {
//         font-weight: 500;
//         font-size: 12px;
//         line-height: 15px;

//         letter-spacing: -0.165px;

//         color: #000000;
//       }
//     }
//   }
// }

// img {
//   width: 100%;
//   height: 100%;
// }

// ion-item {
//   --background: #fff;
//   font-family: "Moncerrat", sans-serif !important;
// }
