<div class="post">
  <div class="post-header">
    <ion-avatar slot="start">
      <img [src]="avatar" />
    </ion-avatar>
    <div class="header-text">
      <h3>{{ userName }}</h3>
      <p>{{ location }}</p>
    </div>
    <a (click)="onClick()" slot="end">
      <ion-icon name="ellipsis-horizontal"></ion-icon>
    </a>
    <!-- <span><img src="../../../../assets/post/points.png" alt="" /></span> -->
  </div>
  <swiper
    [pagination]="{
      dynamicBullets: true
    }"
    #swiper
  >
    <ng-template *ngFor="let image of images" swiperSlide>
      <!-- <div
        class="image-post"
        [style]="{ background: 'url(' + image.url + ')' }"
      ></div> -->
      <img class="picture" [src]="image.url" alt="" />
    </ng-template>
  </swiper>
  <div class="likes">
    <div>
      <ion-icon
        class="icon-start ion-margin-end"
        color="light"
        name="heart-outline"
        slot="start"
      ></ion-icon>
      <ion-icon
        class="icon-start ion-margin-end"
        color="light"
        name="chatbubble-outline"
      ></ion-icon>
      <ion-icon
        class="icon-start ion-margin-end"
        color="light"
        name="paper-plane-outline"
      ></ion-icon>
    </div>
  </div>
  <div class="description">
    <p>
      <strong>{{ userName }}</strong> {{ description }}
      <a *ngFor="let hashtag of hashtags" [routerLink]="['/posts', hashtag]"
        >#{{ hashtag }}</a
      >
    </p>
  </div>
</div>

<!-- <div class="post">
  <ion-item class="post-header" lines="none">
    <ion-avatar slot="start">
      <img [src]="avatar" />
    </ion-avatar>

    <ion-label>
      <h3>{{ userName }}</h3>
      <p>{{ location }}</p>
    </ion-label>
    <a (click)="onClick()" slot="end">
      <ion-icon color="light" name="ellipsis-horizontal"></ion-icon>
    </a>
  </ion-item>
  <swiper #swiper>
    <ng-template *ngFor="let image of images" swiperSlide>
      <img [src]="image.url" alt="" />
    </ng-template>
  </swiper>
  <ion-item lines="none">
    <ion-icon
      class="icon-start ion-margin-end"
      color="light"
      name="heart-outline"
      slot="start"
    ></ion-icon>
    <ion-icon
      class="icon-start ion-margin-end"
      color="light"
      name="chatbubble-outline"
    ></ion-icon>
    <ion-icon
      class="icon-start ion-margin-end"
      color="light"
      name="paper-plane-outline"
    ></ion-icon>
  </ion-item>
  <ion-item class="post-description" lines="none">
    <ion-label text-wrap>
      <p>
        <strong>{{ userName }}</strong> {{ description }}
        <a *ngFor="let hashtag of hashtags" [routerLink]="['/posts', hashtag]"
          >#{{ hashtag }}</a
        >
      </p>
    </ion-label>
  </ion-item>
</div> -->
