<div class="post">
  <div class="post-header">
    <img src="../../../../assets/post/club.png" alt="" />
    <div class="header-text">
      <h3>Marbella Club Hotel</h3>
      <p>Promocionado</p>
    </div>
    <span><img src="../../../../assets/post/points.png" alt="" /></span>
  </div>
  <img class="post-image" src="../../../../assets/post/image-post.png" alt="" />
  <div class="likes">
    <div>
      <a
        ><img class="heart" src="../../../../assets/post/heart.png" alt=""
      /></a>
      <a
        ><img class="comment" src="../../../../assets/post/comment.png" alt=""
      /></a>
      <a
        ><img class="share" src="../../../../assets/post/share.png" alt=""
      /></a>
    </div>
    <img src="../../../../assets/post/bookmark.png" alt="" />
  </div>
  <div class="description"></div>
</div>
