<div class="user-container" *ngFor="let l of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]">
  <ion-item lines="none">
    <ion-avatar class="ion-margin">
      <ion-skeleton-text animated style="width: 100%;height: 100%;"></ion-skeleton-text>
    </ion-avatar>
    <ion-label class="ion-margin-start">
      <h3>
        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
</div> 