ion-content{
    --background: white;
    font-size: 13px;
  }

ion-text{
  font-size: 12px;
  font-weight: 600;
}

.group-avatar{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.user-avatar{
  width: 60px;
    height: 60px;
}

.user-name{
  font-weight: 600;
  text-transform: capitalize;
}

.line{
  border-top: 1px solid #cfcfcf;
}

.edit-name{
  display: flex;
  justify-content: center;
  align-items: center;
}

.options{
  display: flex;
  justify-content: center;
  align-items: center;
font-size: 15px;

.cont{
  padding: 20px 30px 20px 30px;
}
  ion-icon{
    font-size: 35px;
  }
}

.title{
  padding-top: 10px;
  font-size: 20px;
  font-weight: 600;
}

.avatar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-pencil{
  position: relative;
  left: 70px;
  top: 30px;
  background: var(--ion-color-primary);
  padding: 5px;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  font-size: 16px;
}