ion-content{
    --background: white;
}

ion-toolbar {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.yds-text{
    font-size: 13px;
}

ion-row{
    padding: 10px;
}
ion-col {
    padding: 5px;
}

ion-card {
    background: linear-gradient(to right, #305592,#2a4169);
    color: white;
    height: 120px;
    border-radius: 20px;
    .sut{
        color: #9dd0ed;
        font-size: 26px;
    }

    .temp{
        font-size: 18px;
    }

}

.circle-icon {
    padding-right: 5px;
    position: relative;
    top: 2px;
}

.colors-yds {
    display: flex;
    justify-content: space-between;
    font-size: 15px;    
    &.two-el {
        display: flex;
        justify-content: flex-start;
    }
}

.selected-tee{
    border: 1px solid var(--ion-color-secondary);
    border-radius: 20px;
    padding: 0px 10px 0px 10px;
}

.date{
    padding-bottom: 10px;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
}

.label {
    font-size: 14px;
    padding-bottom: 10px;
    padding-top: 20px;
  
    ion-icon {
      font-size: 20px;
      position: relative;
      top: 5px;
    }
  }

  .start-btn{
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
 }