<ion-content>
  <div class="header" [ngClass]="{'my-header': isMyProfile}">
    <div class="header-links">
      <div class="start">
        <a (click)="goBack()"
          ><img
            class="profile-icon"
            src="../../../../assets/icons/user-profile/arrow-back.svg"
            alt=""
          />
        </a>
        <a *ngIf="isMyProfile" [routerLink]="['/tabs/profile/edit']"
          ><img
            class="profile-icon"
            src="../../../../assets/icon/perfil.png"
            alt=""
          />
          Editar Cuenta</a
        >
      </div>

      <div class="end">
        <a *ngIf="!isMyProfile && following" class="favorite">
          <ion-icon style="font-size: 24px;" color="light" src="assets/icons/user-remove.svg"></ion-icon>
         </a>
        <a *ngIf="!isMyProfile" class="favorite" (click)="favorite()">
          <img
            class="share-icon"
            src="assets/icons/user-profile/save.svg"
            alt=""
        /></a>
        <a class="share" (click)="shareProfile()">
          <img
            class="share-icon"
            src="assets/icons/user-profile/share.svg"
            alt=""
        /></a>
      </div>
    </div>

    <app-public-avatar
      *ngIf="!isMyProfile"
      [imageAvatar]="userInfo.profile.photo"
    ></app-public-avatar>
    <app-avatar *ngIf="isMyProfile"></app-avatar>

    <div class="user-profile">
      <h3 class="profile-name text-center">{{userInfo.name}}</h3>
      <h5 class="profile-golfer text-center">Perfil Golfer</h5>
    </div>
    <div class="club">
      <img src="../../../../assets/icons/user-profile/king.svg" />
      <p>Socio Real Club Valderrama</p>
    </div>
    <div *ngIf="!isMyProfile" class="header-buttons">
      <ion-button
       (click)="createSingleRoom()" 
        *ngIf="following && !loadingChats"
        class="message-button header-button"
      >
        <img
          src="assets/icons/user-profile/message-button.svg"
          alt=""
        />
        Enviar Mensaje
      </ion-button>
      <ion-button *ngIf="following" routerLink="/tabs/play/create-game/x/{{userInfo.id}}"  class="play-button header-button">
        <img
          src="assets/icons/user-profile/play-button.svg"
          alt=""
        />
        Jugar Partida
      </ion-button>
      <ion-button
        *ngIf="!following && isPrivate"
        class="request-button"
        (click)=" sentFriendRequest ? null : friendRequest()"
        expand="block"
        shape="round"
      >
        {{ sentFriendRequest ? 'Solicitud enviada':'Agregar como amigo'}}
      </ion-button>
    </div>
  </div>
  <div
    class="profile-card"
    [ngClass]="{'private-card': isPrivate && !following}"
  >
    <div *ngIf="following" class="ion-padding-top">
      <ion-segment [(ngModel)]="segment" color="secondary">
        <ion-segment-button value="posts">
          <ion-label>Publicaciones</ion-label>
        </ion-segment-button>
        <ion-segment-button value="courses">
          <ion-label>Campos</ion-label>
        </ion-segment-button>
        <ion-segment-button value="level">
          <ion-label>Nivel</ion-label>
        </ion-segment-button>
        <ion-segment-button value="bolsa">
          <ion-label>Bolsa</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>


  <div class="content-container" *ngIf="following">
    <app-posts
    *ngIf="segment == 'posts'"
    (loadMore)="onLoadMore()"
    [loadingMore]="isLoadingMore"
    [posts]="posts"
  ></app-posts>

  <div class="ion-text-center"  *ngIf="segment == 'level'">
     <img  src="assets/img/nivel.png" alt=""> 
  </div>



  <div *ngIf="segment == 'courses'">
    <app-toggle-options color="#009838" [toggle]="toggle$" [options]="toggleOptions"></app-toggle-options>
    <app-golf-course-item [coursesPlayed]="courses" *ngIf="!toggle$.value"></app-golf-course-item>
  
  </div>
  </div>

    <div *ngIf="isPrivate && !following" class="isPrivate">
      <ion-icon slot="icon-only" name="lock-closed-outline"></ion-icon>
      <div>
        <h3>Esta cuenta es privada</h3>
        <p>Sigue esta cuenta para ver su contenido</p>
      </div>
    </div>

 
  </div>
</ion-content>
