<ion-content>
  <div class="header" [ngClass]="{'my-header': isMyProfile}">
    <div class="header-links">
      <div class="start">
        <a (click)="goBack()"
          ><img
            class="profile-icon"
            src="../../../../assets/icons/user-profile/arrow-back.svg"
            alt=""
          />
        </a>
        <a *ngIf="isMyProfile" [routerLink]="['/tabs/profile/edit']"
          ><img
            class="profile-icon"
            src="../../../../assets/icon/perfil.png"
            alt=""
          />
          Editar Cuenta</a
        >
      </div>

      <div class="end">
        <!-- <ion-button
          class="ion-margin-end action-button"
          [ngClass]="{'unfollow': following}"
          shape="round"
          (click)="following ? unfollow() : follow()"
        >
          {{following ? 'Unfollow' : 'Follow'}}
        </ion-button> -->
        <a *ngIf="!isMyProfile" class="favorite" (click)="favorite()">
          <img
            class="share-icon"
            src="../../../../assets/icons/user-profile/save.svg"
            alt=""
        /></a>
        <a class="share" (click)="shareProfile()">
          <img
            class="share-icon"
            src="../../../../assets/icons/user-profile/share.svg"
            alt=""
        /></a>
        <!-- <a (click)="following ? unfollow() : follow()">
          <img
            class="follow-icon"
            [src]=" following ?  '../../../../assets/icons/user-profile/user-remove.svg' :  '../../../../assets/icons/user-profile/users.svg'"
            alt=""
        /></a> -->
      </div>
    </div>

    <app-public-avatar
      *ngIf="!isMyProfile"
      [imageAvatar]="userInfo.profile.photo"
    ></app-public-avatar>
    <app-avatar *ngIf="isMyProfile"></app-avatar>

    <div class="user-profile">
      <h3 class="profile-name text-center">{{userInfo.name}}</h3>
      <h5 class="profile-golfer text-center">Perfil Golfer</h5>
    </div>
    <div class="club">
      <img src="../../../../assets/icons/user-profile/king.svg" />
      <p>Socio Real Club Valderrama</p>
    </div>
    <div *ngIf="!isMyProfile" class="header-buttons">
      <ion-button
        [routerLink]="['/chat', id]"
        *ngIf="following"
        class="message-button header-button"
      >
        <img
          src="../../../../assets/icons/user-profile/message-button.svg"
          alt=""
        />
        Enviar Mensaje
      </ion-button>
      <ion-button *ngIf="following" class="play-button header-button">
        <img
          src="../../../../assets/icons/user-profile/play-button.svg"
          alt=""
        />

        Jugar Partida
      </ion-button>
      <ion-button
        *ngIf="!following && isPrivate"
        class="request-button"
        (click)=" sentFriendRequest ? null : friendRequest()"
        expand="block"
        shape="round"
      >
        {{ sentFriendRequest ? 'Solicitud enviada':'Agregar como amigo'}}
      </ion-button>
    </div>
  </div>
  <div class="profile-card">
    <!-- <div *ngIf="!following && !isPrivate" class="edit-nav"> -->
    <div *ngIf="following" class="edit-nav">
      <div *ngIf="isMyProfile" class="qr-container">
        <div class="qr-info">
          <h3>MyGolfPass</h3>
          <h4>5768 2948 4872 9692</h4>
          <p>{{userInfo.name}}</p>
        </div>
        <div class="qr" (click)="openModal()">
          <img src="../../../../assets/icon/qr.png" alt="" />
        </div>
      </div>
      <ul>
        <li>
          <a (click)="prev()" id="4" [ngClass]="{'active': postsTab}"
            >Publicaciones</a
          >
        </li>

        <li><a>Campos</a></li>
        <li>
          <a (click)="next()" id="1" [ngClass]="{'active': levelTab}">Nivel</a>
        </li>
        <li>
          <a>Bolsa</a>
        </li>
      </ul>
    </div>

    <div *ngIf="isPrivate && !following" class="isPrivate">
      <ion-icon slot="icon-only" name="lock-closed-outline"></ion-icon>
      <div>
        <h3>Esta cuenta es privada</h3>
        <p>Sigue esta cuenta para ver su contenido</p>
      </div>
    </div>

    <swiper *ngIf="following" #swiper class="mySwiper">
      <ng-template swiperSlide>
        <app-posts
          (loadMore)="onLoadMore()"
          [loadingMore]="isLoadingMore"
          [posts]="posts"
        ></app-posts>
      </ng-template>
      <ng-template swiperSlide>
        <app-level></app-level>
      </ng-template>
    </swiper>
  </div>
</ion-content>
