<ion-item lines="none">
  <a
    [routerLink]="['/tabs/user-profile', user.profile.user_id]"
    class="avatar"
    [ngStyle]="{
      'background-image':
        'url(' + (user.profile.photo ? user.profile.photo : avatarDefault) + ')'
    }"
  >
  </a>
  <ion-label>
    <h4>
      {{ user.name }}
    </h4>
    <p>
      {{ user.profile.address }}
    </p>
    <span> HCP {{ user.profile.handicap }} </span>
  </ion-label>
  <div class="actions">
    <a
      *ngIf="following"
      [routerLink]="['/chat', user.profile.user_id]"
      class="action"
    >
      <img src="../../../../../../assets/icons/message-alt.svg" alt="" />
    </a>
    <a *ngIf="following">
      <img src="../../../../../../assets/icons/play.svg" alt="" />
    </a>
    <a
      class="request-button"
      (click)="!sentFriendRequest && !following ? friendRequest() : null"
    >
      <img
        *ngIf="!sentFriendRequest && !following"
        src="
            ../../../../../../assets/icons/user-add.svg
        "
      />
      <ion-icon
        *ngIf="sentFriendRequest"
        slot="icon-only"
        name="time-outline"
      ></ion-icon>
    </a>
  </div>
</ion-item>
