@import "../../../scss/variables.scss";

// ion-content {
//   --background: #fff;
// }

.not-notifications {
  margin-top: 1.2rem;
  // color: $text-color;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.7rem;
}

.swiper {
  width: 100%;
  // height: 100%;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  height: 100%;
  padding-bottom: 40px;
}

.navigation-prev {
  transition: all 0.5s;
  &.active {
    border-top: 1.5px solid $blue;
  }
}
.navigation-next {
  transition: all 0.5s;
  &.active {
    border-top: 1.5px solid $blue;
  }
}
