<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper
    #swiper
    [allowTouchMove]="false"
    class="mySwiper"
    *ngIf="notifications.length || noReadedNotifications.length"
  >
    <ng-template swiperSlide>
      <ion-list>
        <ion-item *ngIf="noReadedNotifications.length">
          <ion-label>Marcar como leidas</ion-label>
          <ion-checkbox (ionChange)="markAsread()" slot="end"></ion-checkbox>
        </ion-item>
        <ion-item
          *ngFor="let notificacion of noReadedNotifications; index as i"
          (click)="
            notificacion.data.data.type === 'Like'
              ? showReaction(
                  notificacion.data.data.user_sender.id,
                  notificacion.data.data.publication_id,
                  notificacion.id,
                  i,
                  true
                )
              : notificacion.data.data.detail.includes(friendRequest)
              ? showProfile(
                  notificacion.data.data.user_sender.id,
                  notificacion.id,
                  i,
                  false
                )
              : notificacion.data.data.detail.includes(friends)
              ? showProfile(
                  notificacion.data.data.user_id,
                  notificacion.id,
                  i,
                  true
                )
              : null
          "
        >
          <ion-avatar class="ion-margin-end">
            <img
              [src]="
                notificacion.data.data.user_sender.profile.photo ||
                avatarDefault
              "
            />
          </ion-avatar>
          <ion-label class="normal">
            {{ notificacion.data.data.detail }}
          </ion-label>
          <ion-buttons
            *ngIf="notificacion.data.data.detail.includes(friendRequest)"
            slot="end"
          >
            <ion-button
              color="success"
              (click)="
                onAccept(
                  notificacion.data.data.connection_id,
                  notificacion.id,
                  i
                )
              "
            >
              <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
            </ion-button>
            <ion-button
              color="danger"
              (click)="
                onDecline(
                  notificacion.data.data.connection_id,
                  notificacion.id,
                  i
                )
              "
            >
              <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-list>
      <p *ngIf="!noReadedNotifications.length" class="not-notifications">
        No tienes notificaciones
      </p>
    </ng-template>
    <ng-template swiperSlide>
      <ion-list>
        <ion-item
          *ngFor="let notificacion of notifications; index as in"
          (click)="
            notificacion.data.data.type === 'Like' || 'Comment'
              ? showReaction(
                  notificacion.data.data.user_sender.id,
                  notificacion.data.data.publication_id,
                  notificacion.id,
                  in,
                  false
                )
              : notificacion.data.data.detail.includes(friendRequest)
              ? showProfile(
                  notificacion.data.data.user_sender.id,
                  notificacion.id,
                  in,
                  false
                )
              : notificacion.data.data.detail.includes(friends)
              ? showProfile(
                  notificacion.data.data.user_sender.id,
                  notificacion.id,
                  in,
                  false
                )
              : null
          "
        >
          <ion-avatar class="ion-margin-end">
            <img [src]="notificacion.data.data.user_sender.profile.photo" />
          </ion-avatar>
          <ion-label class="normal">
            {{ notificacion.data.data.detail }}
            <div class="footer-notification">
              <!-- <a (click)="markAsread(notificacion.id)"> Responder</a> -->
            </div>
          </ion-label>
        </ion-item>
      </ion-list>
      <p *ngIf="!notifications.length">No tienes notificaciones</p>
    </ng-template>
  </swiper>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col size="6">
      <ion-item
        [ngClass]="{ active: noRead === true }"
        class="navigation-prev"
        (click)="prev()"
      >
        <ion-label>Sin ver</ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item
        [ngClass]="{ active: all === true }"
        class="navigation-next"
        (click)="next()"
      >
        <ion-label>Todas</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-footer>
