@import "../../../scss/variables.scss";

.swiper {
  width: 100%;
  height: 100%;
}

// .swiper-slide {
//   display: flex;
//   flex-direction: column;
//   // align-items: center;
//   justify-content: center;
//   height: 100%;
//   padding-bottom: 40px;
// }

.navigation-prev {
  transition: all 0.5s;
  &.active {
    border-top: 1.5px solid $blue;
  }
}
.navigation-next {
  transition: all 0.5s;
  &.active {
    border-top: 1.5px solid $blue;
  }
}
