<div class="card">
  <!-- <a
    [routerLink]="['/tabs/campus/admin-panel']"
    (click)="selectCampus(campo)"
    class="edit"
  >
    <img src="../../../../assets/icons/edit-pencil-grey.svg" alt="" />
  </a> -->
  <div class="card-image">
    <img [src]="campo.photo" alt="" />
  </div>
  <ion-item class="ion-no-padding" lines="none">
    <ion-label>
      <h4 *ngIf="designer.title">{{designer.title}}</h4>
      <p *ngIf="campo.location">{{ campo.location }}</p>
    </ion-label>
  </ion-item>

  <div class="card-buttons">
    <ion-button
      shape="round"
      [routerLink]="['/tabs/campus/admin-panel']"
      (click)="selectCampus(campo)"
    >
      Administrar campo
    </ion-button>
    <div slot="end" class="reaction-buttons">
      <a class="ion-margin-end" (click)="save()">
        <img src="../../../../assets/icons/campo-card-bookmark.svg" alt="" />
      </a>
      <a (click)="share()">
        <img src="../../../../assets/icons/campo-card-share.svg" alt="" />
      </a>
    </div>
  </div>
</div>
