<nav class="nav">
  <a [routerLink]="['create-post']"
    ><img
      class="create"
      src="../../../../assets/icons/tab/circle-add.svg"
      alt=""
    />CREAR</a
  >
  <a [routerLink]="['posts']"
    ><img
      class="play"
      src="../../../../assets/icons/tab/play.svg"
      alt=""
    />JUGAR</a
  >
  <a routerLink="/website"
    ><img
      class="home"
      src="../../../../assets/icons/tab/home.svg"
      alt=""
    />HOME</a
  >
  <a
    ><img
      class="message"
      src="../../../../assets/icons/tab/message.svg"
      alt=""
    />MENSAJES</a
  >
  <div class="menu-button">
    <ion-menu-button menu="main-menu" icon="none">
      <img src="../../../../assets/icon/menu/burger.png" alt="" />
    </ion-menu-button>
    <p>MENU</p>
  </div>
</nav>

<ion-menu menuId="main-menu" contentId="main">
  <ion-content class="side-menu">
    <ion-row class="ion-justify-content-center">
      <ion-menu-toggle>
        <div class="profile">
          <a
            routerLink="profile"
            class="link-profile"
            [ngStyle]="{
              'background-image':
                'url(' +
                (profileImage ? profileImage : imageAvatarDefault) +
                ')'
            }"
          >
            <!-- <img
              class="link-profile--img"
              [src]="profileImage ? profileImage : imageAvatarDefault"
              alt=""
            /> -->
          </a>
          <div class="profile-info">
            <h3 class="text">mi perfil</h3>
            <h2 class="name">{{ user.name }}</h2>
            <p class="text">Golfer</p>
          </div>
        </div>
      </ion-menu-toggle>
      <div class="qr">
        <div class="qr-top">
          <h3>My<strong>Golf</strong>Pass</h3>
          <a (click)="openQR()">
            <img src="../../../../assets/icon/qr.png" alt="" />
          </a>
        </div>

        <div class="qr-bottom">
          <p>5768 2948 4872 9692</p>
          <p class="user-name">{{ userName }}</p>
        </div>
      </div>
      <ion-list class="side-menu--list" lines="none">
        <ion-menu-toggle>
          <ion-item lines="none" class="list-item">
            <a>
              <div class="logo-container">
                <img
                  class="events"
                  src="../../../../assets/icons/tab/calendar.svg"
                  alt=""
                />
              </div>

              EVENTOS
            </a>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" class="list-item">
            <a>
              <div class="logo-container">
                <img
                  class="classes"
                  src="../../../../assets/icons/tab/clases.svg"
                  alt=""
                />
              </div>
              CLASES
            </a>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" class="list-item">
            <a [routerLink]="['my-posts']">
              <div class="logo-container">
                <img
                  class="classes"
                  src="../../../../assets/icon/side-menu/grado.png"
                  alt=""
                />
              </div>
              MIS PUBLICAIONES
            </a>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none" class="list-item">
            <a [routerLink]="['friends']">
              <div class="logo-container">
                <img
                  class="friends"
                  src="../../../../assets/icons/tab/users.svg"
                  alt=""
                />
              </div>
              AMIGOS
            </a>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" class="list-item">
            <a [routerLink]="['saved-posts']">
              <div class="logo-container">
                <img
                  class="save"
                  src="../../../../assets/icons/tab/guardados.svg"
                  alt=""
                />
              </div>
              GUARDADOS
            </a>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" class="list-item">
            <a>
              <div class="logo-container">
                <img
                  class="club"
                  src="../../../../assets/icons/tab/star.svg"
                  alt=""
                />
              </div>
              MI CLUB
            </a>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
      <!-- <div> -->
      <ion-menu-toggle>
        <ion-button class="next-button" expand="block">Admin panel</ion-button>
      </ion-menu-toggle>
      <!-- <div class="nav-footer"> -->
      <a [routerLink]="['']" (click)="onLogout()" class="signup"
        >Cerrar Sesión</a
      >
      <div class="side-menu--footer">
        <p>Acerca de GolfPeople</p>
        <p>GolfPeople® Versión 1.0</p>
      </div>
      <!-- </div> -->
      <!-- </div> -->
    </ion-row>
  </ion-content>
</ion-menu>
