@import "../../../scss/variables.scss";

.nav {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 75px;
  background-color: $primary-color;

  a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    height: 50px;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 2rem;
    transition: all 0.5s ease;
    color: $color-white;
    &:active {
      background-color: rgba(165, 165, 165, 0.6);
    }

    img {
      // width: 23px;
      height: 25px;
      object-fit: cover;
      display: block;

      // &.create {
      //   width: 28.33px;
      //   height: 29.17px;
      // }
      // &.play {
      //   width: 18.44px;
      //   height: 21.18px;
      // }
      // &.home {
      //   width: 22.65px;
      //   height: 25.32px;
      // }
      // &.message {
      //   width: 28.33px;
      //   height: 26.25px;
      // }
      // &.burger {
      //   width: 34px;
      //   height: 35px;
      // }
    }
  }

  .menu-button {
    position: relative;

    ion-menu-button {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.side-menu {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
  // transform: translatex(-100%);
  background: url(../../../../assets/img/side-menu.jpg) no-repeat center / cover;

  &.activeMenu {
    transform: translateX(0);
  }

  .profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 25px;
    padding-bottom: 14px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.21);
    a {
      width: 70px;
      height: 70px;
      margin-right: 10px;

      img {
        width: 100%;
        object-fit: cover;
        display: block;
      }
    }

    &-info {
      .text {
        font-weight: 700;
        font-size: 1.1rem;
        line-height: 2rem;
        margin: 0;
        color: $color-white;
      }
      .name {
        font-weight: 500;
        font-size: 11px;
        line-height: 16px;
        margin: 0;
        color: $color-white;
      }
    }
  }

  .qr {
    width: 180px;
    height: 100px;

    background: linear-gradient(
      180deg,
      rgba(0, 56, 139, 0.37) 0%,
      rgba(0, 157, 214, 0.33) 100%
    );
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 5px;
  }

  &--list {
    display: flex;
    flex-direction: column;
    width: 100%;

    .list-item {
      width: 100%;
      a {
        display: flex;
        align-items: center;
        width: 100%;
        height: 22px;
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 1.3rem;
        line-height: 121.9%;
        transition: all 0.5s ease;
        color: $color-white;
        img {
          width: 20px;
          object-fit: cover;
          margin-right: 10px;
        }
        .save {
          width: 16.33px;
        }

        &:active {
          background-color: rgba(165, 165, 165, 0.6);
        }
      }
    }
  }

  .next-button {
    width: 100%;
    height: 35px;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.7rem;
    --background: #009dd6;
    // margin-top: 20px;
    --border-radius: 17.5px;
    margin-bottom: 20px;
    text-transform: capitalize;

    span {
      margin-right: 10px;
    }
  }

  .signup {
    width: 100%;
    margin: 15px auto;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 121.9%;
    text-align: center;
    color: $color-white;

    transition: all 0.5s ease;
    &:active {
      background-color: rgba(165, 165, 165, 0.6);
    }
  }
  &--footer {
    width: 100%;
    p {
      font-weight: 500;
      font-size: 11px;
      line-height: 16px;
      text-align: center;
      color: $color-white;
    }
  }
}
