<ion-header class="ion-text-center">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/website">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-title>
      <h2>
        <img src="../../../../assets/icons/message.svg" alt="" /> mensajes
      </h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="none" class="my-message">
      <ion-label>Awesome Label</ion-label>
    </ion-item>
    <ion-item lines="none" class="message">
      <ion-label>Awesome Label</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-item lines="none" class="text-area-container ion-no-border">
    <textarea
      class="ion-no-margin ion-no-border"
      placeholder="Escribe algo"
    ></textarea>
    <a>
      <img src="../../../../assets/icons/grey-message.svg" alt="" />
    </a>
    <!-- <ion-buttons slot="end">
      <ion-button>
        <img src="../../../../assets/icons/grey-message.svg" alt="" />
      </ion-button>
    </ion-buttons> -->
  </ion-item>
</ion-footer>
