<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="ion-margin" (click)="onClick()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Comentarios</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item class="comment" lines="none" *ngFor="let comment of comments">
    <ion-avatar class="ion-margin-end">
      <img [src]="comment.user.profile.photo" />
    </ion-avatar>
    <ion-label class="normal">
      {{ comment.user.name }}
      <p class="normal">{{ comment.description }}</p>
      <div class="footer-comment">
        <p class="date-text">{{ comment.created_at | date }}</p>
        <a>Responder</a>
      </div>
    </ion-label>
  </ion-item>
</ion-content>
<ion-footer>
  <ion-item>
    <ion-label>
      <ion-textarea
        placeholder="Escribe algo"
        [(ngModel)]="commentary"
      ></ion-textarea>
    </ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="comment()">
        <ion-icon color="success" slot="icon-only" name="send-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-footer>
