ion-content {
    --background: url('../../../../../../../assets/img/rectangle-2.jpg');
}

ion-item {
    --background: transparent;
}

.date-content {
    position: absolute;
    bottom: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 70%;
    background: white;
    overflow: auto;
    padding: 15px;
}

label{
    font-size: 14px;
    font-weight: 500;
}

.date-col-p{
    padding: 5px;
}

.date-card{
    border-radius: 10px;
    border: 1px solid #d6d6d6;
    min-height: 100px;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    font-weight: 500;
    .hour{
        color: var(--ion-color-secondary);
        border-bottom: 1px solid #d6d6d6;
        padding: 5px 0px 5px 0px;
    }
    .name{
        font-weight: 500;
        padding: 5px;
    }
    .hole{
        color: var(--ion-color-secondary);  
    }

    &.selected{
        background: var(--ion-color-secondary-tint);
        color: white;
        .hour{
            color: white;
            border-bottom: 1px solid #d6d6d6;
            padding: 5px 0px 5px 0px;
        }
      .hole{
            color: white;  
        }
    
    }
}

.campus-name {
    font-size: 29px;
    color: white;
    font-weight: 600;
    line-height: 25px;
    padding-bottom: 15px;
}

.ps-col {
    padding-top: 5%;
    padding-left: 15px;
}

.pe-col {
    padding-top: 5%;
    padding-right: 15px;
}

.subtext {
    font-size: 15px;
    font-weight: 600;
    color: white;
    line-height: 15px;

    ion-icon {
        font-size: 23px;
        position: relative;
        top: 5px;
    }
}


.day-str {
    font-size: 13px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.day-numb {
    font-size: 33px;
    font-weight: bold;
    color: white;

}

.month {
    font-size: 13px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.submit-btn{
    height: 35px;
    font-size: 14px;

    ion-icon{
        padding-left: 5px;
    }
}

.btn-submit-container{
    padding-top: 15px;
}