<ion-content>
  <ion-grid>
    <ion-row>
      <div class="login-header">
        <!-- <ion-col size-sm="4" offset-sm="4" class="col-title"> -->
        <ion-col class="col-title">
          <div class="header-title">
            <h2 class="title-text">Bienvenido,</h2>
            <p class="subtitle-text header-content">
              Es bueno tenerte de vuelta
            </p>
          </div>
        </ion-col>
      </div>
    </ion-row>
    <ion-row class="vertical-align-center">
      <div>
        <!-- <ion-col size-sm="4" offset-sm="4" class="col-content"> -->
        <ion-col class="col-content">
          <form [formGroup]="form" class="ion-padding" (ngSubmit)="onSubmit(form)">
            <ion-list>
              <ion-item class="item-neg">
                <ion-label position="floating" class="signup-form-title"
                  ><ion-icon name="mail"></ion-icon> E-Mail</ion-label
                >
                <ion-input
                  type="email"
                  name="email"
                  formControlName="email"
                ></ion-input>
              </ion-item>
              <ion-item *ngIf="form.get('email')?.errors?.email" lines="none">
                <ion-label class="validation-text">Email inválido</ion-label>
              </ion-item>
              <ion-item class="item-neg">
                <ion-label position="floating" class="signup-form-title"
                  ><ion-icon name="lock-open"></ion-icon> Contraseña</ion-label
                >
                <ion-input
                  [type]="passwordType"
                  name="password"
                  formControlName="password"
                ></ion-input>
                <ion-icon
                  [name]="eye"
                  slot="end"
                  (click)="togglePasswordMode()"
                  class="show-password"
                ></ion-icon>
              </ion-item>
              <ion-item
                *ngIf="form.get('password')?.touched && form.get('password')?.errors?.['required']"
                lines="none"
              >
                <ion-label text-wrap class="validation-text">
                  Contraseña inválida.
                </ion-label>
              </ion-item>
            </ion-list>
          
            <ion-button
              type="submit"
              shape="round"
              expand="block"
              class="login-btn"
            >
              Siguiente
            </ion-button>

            <ion-button
              class="google"
              shape="round"
              expand="block"
              (click)="onLoginGoogle()"
            >
              Entrar con <img src="../../assets/icons/google.svg" />
              <img src="" alt="" />
            </ion-button>
            <ion-button (click)="onLoginFacebook()" class="facebook" shape="round" expand="block">
              Entrar con <img src="../../assets/icons/facebook.svg" />
              <img src="" alt="" />
            </ion-button>
          </form>
          <p style="padding-top: 20px;font-size: 12px;" class="text-center pos-link">
            ¿No tienes cuenta?
            <a [routerLink]="['/signup']" class="pos-link">Regístrate</a>
          </p>
          <p></p
        ></ion-col>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
