@import "../../../../../../../scss/variables.scss";

:host {
  margin-bottom: 50px;
}

.privacy-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  min-height: 250px;

  .privacy-item {
    width: 100%;
    max-width: 35rem;
    padding-bottom: 1.8rem;
    border-bottom: 1px solid #ddd;

    .togle-privacy {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin: 2rem 0;
      p {
        font-weight: 500;
        font-size: 1.3rem;
        line-height: 1.7rem;
        color: $text-color;
      }

      .toggle-buttons {
        width: 14.5rem;
        height: 2.2rem;
        background: rgba(221, 221, 221, 0.25);
        border-radius: 5.3rem;

        button {
          width: 50%;
          height: 100%;
          font-weight: 500;
          font-size: 1.1rem;
          line-height: 1.6rem;
          color: #8f8f8f;
          border: none;
          background: transparent;
          border-radius: 4rem;
          transition: all 0.3s ease;
        }

        .active {
          color: #fff;
          background: #009838;
          transition: all 0.5s ease;
        }
      }
    }
    .privacy-description {
      font-weight: 500;
      font-size: 1.1rem;
      line-height: 1.6rem;
      color: #8f8f8f;
    }
  }
}
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.next-button {
  width: 90%;
  margin: 0 auto 20px;
}

ion-list {
  --ion-item-background: transparent !important;
  width: 100%;
}

ion-label {
  font-family: "Montserrat" !important;

  --color: #383838 !important;
  font-size: 13px !important;
  line-height: 17px !important;
  font-weight: 500 !important;
  color: #383838 !important;
  display: flex !important;
  align-items: center;
  ion-icon {
    color: #00388b;
    font-size: 20px;
    margin-right: 12px !important;
  }
  img {
    margin-right: 12px;
  }
}

ion-item {
  --color: #00388b;
  margin-bottom: 20px;
  --padding-start: 0 !important;
}

ion-item.item-has-focus > ion-label {
  color: #00388b !important;
}

ion-input {
  color: #383838 !important;
}

ion-checkbox {
  --background: transparent;
  --background-checked: #00388b;
  --border-color: #383838;
  --border-color-checked: #00388b;
  margin-right: 0.5rem;
}

.validation-text {
  font-size: 12px;
  color: red;
}

.login-btn {
  --background: transparent;
  --border-style: solid;
  --border-width: 1px;
  --border-color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
}

.signup-btn {
  --background: #009dd6;
}

.link {
  color: #009dd6;
}
