@import "../../../../../../../scss/variables.scss";

.privacy-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .privacy-item {
    width: 100%;
    max-width: 35rem;
    padding-bottom: 1.8rem;
    border-bottom: 1px solid #ddd;

    .togle-privacy {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin: 2rem 0;
      p {
        font-weight: 500;
        font-size: 1.3rem;
        line-height: 1.7rem;
        color: $text-color;
      }

      .toggle-buttons {
        width: 14.5rem;
        height: 2.2rem;
        background: rgba(221, 221, 221, 0.25);
        border-radius: 5.3rem;

        button {
          width: 50%;
          font-weight: 500;
          font-size: 1.1rem;
          line-height: 1.6rem;
          color: #8f8f8f;
          border: none;
          background: transparent;
          border-radius: 4rem;
        }

        .active {
          color: #fff;
          background: #009838;
        }
      }
    }
    .privacy-description {
      font-weight: 500;
      font-size: 1.1rem;
      line-height: 1.6rem;
      color: #8f8f8f;
    }
  }
}
