<div class="privacy-container">
  <div class="privacy-item">
    <div class="togle-privacy">
      <p>Quiero que mi perfil sea</p>
      <div class="toggle-buttons">
        <button class="deactive">Público</button>
        <button class="active">Privado</button>
      </div>
    </div>
    <p class="privacy-description">
      Cuando tu perfil es <strong>PRIVADO</strong>, sólo podrá ser visto por tu
      amigos dentro de la comunidad GolfPeople.
    </p>
  </div>
  <div class="privacy-item">
    <div class="togle-privacy">
      <p>Mi nivel (Handicap)</p>
      <div class="toggle-buttons">
        <button class="deactive">Público</button>
        <button class="active">Privado</button>
      </div>
    </div>
    <p class="privacy-description">
      Cuando tu Handicap es <strong>PRIVADO</strong>, sólo podrá ser visto por
      tu amigos dentro de la comunidad GolfPeople.
    </p>
  </div>
</div>
