<div class="toggle-tab">
  <div [ngClass]="{'active': toggle.value}" [style.background]="color ? color : 'var(--ion-color-secondary)'" class="fondo"></div>
  <div class="toggle-buttons">
    <button [ngClass]="{'active': toggle.value}" (click)="toggle.next(false)">
      {{options.one}}
      <span *ngIf="options.one == 'Mensajes' && chatSvc.unread$.value" class="badge">{{chatSvc.unread$.value}}</span>
    </button>
    <button [ngClass]="{'active': !toggle.value}" (click)="toggle.next(true)">{{options.two}}    
      <span *ngIf="options.two == 'Actividad' && chatSvc.unreadActivityCounter$.value" class="badge">{{chatSvc.unreadActivityCounter$.value}}</span>
    </button>
  </div>
</div>