<div class="toggle-tab">
  <div [ngClass]="{'active': toggle.value}" [style.background]="color ? color : 'var(--ion-color-secondary)'" class="fondo"></div>
  <div class="toggle-buttons">
    <button [ngClass]="{'active': toggle.value}" (click)="toggle.next(false)">
      {{options.one}}
    </button>
    <button [ngClass]="{'active': !toggle.value}" (click)="toggle.next(true)">{{options.two}}    
      <ion-icon *ngIf="options.two == 'Actividad' && chatSvc.unreadActivity$.value" class="notification" color="danger" name="ellipse"></ion-icon>
    </button>
  </div>
</div>