.notification{
  position: relative;
  top: 2px;
}

.badge{
  background: var(--ion-color-danger);
  padding: 5px;
  border-radius: 5px;
  width: 20px;
  height: 20px;

  &.active{
    background: var(--ion-color-light);
  }
}

.toggle-tab {
    position: relative;
    width: 100%;
    max-width: 33rem;
    height: 4.3rem;
    margin: 1.5rem auto 2rem;
    background: rgba(221, 221, 221, 0.25);
    border-radius: 4rem;
  
    .fondo {
      width: 50%;
      height: 100%;    
      border-radius: 4rem;
      transition: all 0.5s ease;
  
      &.active {
        transform: translateX(100%);
      }
    }
  
    .toggle-buttons {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
  
      button {
        width: 500%;
        height: 100%;
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 1.7rem;
        text-align: center;
        color: white;
        background: transparent;
  
        &.active {
          color: var(--ion-color-dark);
        }
      }
    }
  }