.chat-pt {
  padding-top: 10px;
}

.time-ago{
  color: rgb(185, 185, 185);
  font-size: 13px;
  font-weight: 500;

  &.no-msg{
    position: relative;
    bottom: 20px;
  }
}

.new-msg-btn {
  text-transform: capitalize;
  color: white;
  position: relative;
  bottom: 10px;
}

.new-msg-btn span {
  padding-left: 5px; 
}

.unread{
  font-weight: bold;
  color: black;
}

ion-badge{
  padding: 4px 6px 4px 6px;
}

.group-avatars {
  position: relative;
  right: 13px;
  &.first{
    left: 8px;
  }
  &.second{
    right: 3px;
  }
}


ion-content {
  --background: #fff;

  .search {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 33.3rem;
    height: 3.6rem;
    padding: 0.8rem 2.5rem;
    background: rgba(250, 250, 250, 0.93);
    border-radius: 100px;

    img {
      width: 15px;
      height: 13.5px;
    }

    input {
      height: 100%;
      width: 85%;
      padding-left: 1.5rem;
      background: transparent;
      border: none;
      font-weight: 500;
      font-size: 13px;
      line-height: 17px;
      outline: none;
      color: #383838;
    }
  }

  ion-chip{
    padding: 6px 10px 6px 10px;
    ion-label{
      font-size: 13px;
    }
  }

  ion-list {
    background: transparent;

    ion-item {   
      --padding-bottom: 10px;
      --padding-top: 10px;
      --padding-start: 10px;
      --padding-end: 10px;
      --border-radius: 12px;

      ion-avatar {
        width: 48px;
        height: 48px;
        &.group{
          width: 30px;
        height: 30px;
        }
      }

      ion-label {
        h3 {
          font-weight: 600;
          font-size: 14px;
          line-height: 150%;
          color: #000;
        }

        p {        
          font-size: 12px;
          line-height: 150%;
          color: rgba(0, 0, 0, 0.4);
        }
      }
    }

    ion-item:hover{
      --background: rgb(238, 237, 237);
    }
  }
}