<ion-header class="ion-text-center">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/tabs"></ion-back-button>        
    </ion-buttons>
    <ion-title>
      <h2>
        <img src="../../../../assets/icons/message.svg" alt="" /> mensajes
      </h2>
    </ion-title>
  </ion-toolbar>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-header>
<ion-content class="ion-padding">
  <div class="search">
    <img src="../../../../assets/messages/blue-message.svg" alt="" />
    <input
      placeholder="Buscar conversación"
      type="text"
      name=""
      id=""
      [(ngModel)]="searchValue"
      (ngModelChange)="searchRoom($event)"
    />
  </div>
  <ion-list *ngIf="!loading" lines="none">
    <ion-item
      *ngFor="let room of searchedRooms; index as i"
      (click)="openChat(room)"
    >
      <ion-avatar>
        <img [src]="  room.photo ? room.photo : avatar" />
      </ion-avatar>
      <ion-label class="ion-margin-start">
        <h3>{{room.name}}</h3>
        <p>{{room.lastmsg}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="loading" lines="none">
    <ion-item
      *ngFor="let room of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]">    
    
      <ion-avatar>
        <ion-skeleton-text animated style="width: 100%;height: 100%;"></ion-skeleton-text>
      </ion-avatar>
      <ion-label class="ion-margin-start">
        <h3><ion-skeleton-text animated style="width: 70%"></ion-skeleton-text></h3>
        <p><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
