@import "../../../../scss/variables.scss";

ion-header {
  border: 0 !important;
  ion-toolbar {
    --background: #00388b !important;
    ion-title {
      margin-right: 50px;

      h2 {
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 2.2rem;
        /* identical to box height, or 22px */

        font-variant: small-caps;
        display: flex;
        justify-content: center;

        color: #ffffff;
        text-transform: uppercase;

        img {
          width: 18px;
          height: 18px;
          object-fit: cover;
          margin-right: 0.8rem;
        }
      }
    }
  }

  ion-button {
    width: 54px;
    height: 100%;

    ion-icon {
      color: #fff;
    }
  }

  &::after {
    display: none;
  }
}

ion-content {
  --background: #fff;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 3rem 0;
  background: $primary-color;
  border-radius: 0 0 3rem 3rem;

  img {
    position: absolute;
    top: 9px;
    right: 19px;
    width: 3.7rem;
    height: 3.7rem;
    border-radius: 50%;
    z-index: 11;
  }

  h3 {
    margin: 0;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2rem;
    color: #fff;
  }
}

.pick-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
  border-bottom: 1px solid #ddd;
  margin-bottom: 2.5rem;

  .select-button {
    width: 106px;
    height: 106px;
    --border-radius: 1rem;
    --background: #009dd6;
    margin-bottom: 2.2rem;
  }

  p {
    height: 3.4rem;
    width: 207px;
  }

  .picture {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .delete-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .add-image-button {
    margin-bottom: 0.5rem;
    --background: #009dd6;
  }

  .video-container {
    width: 100%;

    .video {
      width: 100%;
      height: 400px;
    }
  }
}

.section-1 {
  display: flex;
  flex-direction: column;
  color: #000;

  .section_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.5rem;

    h3 {
      margin: 0;
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 2rem;
    }
  }

  .description {
    margin-bottom: 4.5rem;
    background: rgba(221, 221, 221, 0.28);
    border-radius: 15px;
    color: #8f8f8f;

    font-weight: 500;
    font-size: 13px;
    line-height: 17px;

    p {
      font-weight: 500;
      font-size: 1.3rem;
      line-height: 1.7rem;
    }
  }

  .option-buttons {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2.5rem;
    // justify-content: space-between;

    .option-button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2.6rem;
      padding: 0.5rem 1rem;
      margin: 0.25rem;
      border: 0.2rem solid #dddddd;
      border-radius: 17.5px;
      font-weight: 500;
      font-size: 1.1rem;
      line-height: 1.6rem;
      background: none;
      color: $text-color;
    }
    .selected {
      border: 0.2rem solid #009dd6;
    }
  }

  app-designer-avatar {
    margin-bottom: 1.8rem;
  }

  .campus-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.6rem;

    label {
      font-weight: 500;
      font-size: 1.1rem;
      line-height: 1.6rem;
      text-transform: capitalize;
      color: #000;
    }

    input {
      width: 100%;
      height: 3.6rem;
      padding: 9.5px 8px;
      background: rgba(250, 250, 250, 0.93);
      border-radius: 100px;
      border: none;
      outline: none;
      font-weight: 500;
      font-size: 1.3rem;
      line-height: 1.7rem;
      color: #8f8f8f;
    }
  }

  .itinerary {
    display: flex;
    align-items: center;
    justify-content: center;

    .times {
      display: flex;
      flex-direction: column;
      align-items: center;
      // justify-content: center;
    }
  }

  .time-title {
    width: 100%;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.6rem;
    text-transform: capitalize;
    color: #000;
  }

  .select-time {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    // height: 3.6rem;

    .time {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 48%;
      height: 100%;
      padding: 9.5px 8px;
      background: rgba(250, 250, 250, 0.93);
      border-radius: 100px;
      border: none;
      outline: none;
      font-weight: 500;
      font-size: 1.3rem;
      line-height: 1.7rem;
      color: #8f8f8f;
      label {
        color: #000;
      }

      ion-select {
        width: 50%;
      }

      input {
        background: transparent;
        color: #383838;
        outline: none;
        border: 1px solid rgb(129, 129, 129);
      }

      input[type="time"] {
        // border: none;
        border-radius: 8px;
        padding: 5px;
        border: 1px solid rgb(184, 184, 184);
        color: #2a2c2d;
        font-size: 14px;
        font-family: helvetica;
        // width: 180px;
      }
      input[type="time"]::-webkit-calendar-picker-indicator {
        // width: 100%;
        // background: transparent;
        filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg)
          brightness(95%) contrast(80%);
      }
    }
    // ion-button {
    //   width: 31.17px;
    //   height: 25px;
    //   font-size: 1.6rem;
    // }
  }

  .tags-row {
    margin: 1rem 0;
  }

  .hashtags {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // width: 100%;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ddd;
    margin: 0.25rem;

    p {
      font-size: 1.3rem;
      font-weight: 500;
      color: #383838;
    }
    a {
      margin-left: 1rem;
      font-size: 1.4rem;
      cursor: pointer;
    }
  }

  ion-button {
    --background: #009dd6;
  }

  .submit-button {
    width: 300px;
    height: 50px;
    margin: 4rem auto 0;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

ion-list {
  --ion-item-background: transparent !important;
}

ion-label {
  --color: #383838 !important;
  font-family: "Montserrat" !important;

  font-size: 13px !important;
  line-height: 17px !important;
  font-weight: 500 !important;
  color: #383838 !important;
  display: flex !important;
  align-items: center;
  ion-icon {
    color: #00388b;
    font-size: 20px;
    margin-right: 12px !important;
  }
  img {
    margin-right: 12px;
  }
}

ion-item {
  --color: #00388b;
  // margin-bottom: 20px;
  --border-color: #dddddd;
  font-family: "Montserrat" !important;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
  --background: none;
}

ion-item.item-has-focus > ion-label {
  color: #00388b !important;
}

ion-input {
  color: #383838 !important;
  // font-family: "Montserrat" important;
  // font-style: normal;
  // font-weight: 500;
  // font-size: 13px;
  // line-height: 17px;

  .native-input .sc-ion-input-md {
    // color: #383838 !important;
    font-family: "Montserrat" !important;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
  }
}

.addressInput {
  width: 90%;
  background: transparent;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
  outline: none;
  text-align: left;
  color: #000;
}

.validation-text {
  font-size: 12px;
  color: red !important;
}

.validation-errors {
  font-size: small;
  color: #f1453d !important;
}
.error-message {
  padding: 0 5px;
  text-align: right;
  font-size: 1.2rem;
  color: #f1453d !important;
}
