<ion-content>
  <!-- <app-header
    defaultHref="/tabs/campus"
    img="assets/icons/admin-panel.svg"
    text="admin panel"
  >
  </app-header> -->

  <ion-header>
    <ion-toolbar mode="md" class="ion-no-border ion-no-margin">
      <ion-buttons slot="start">
        <ion-button mode="md" (click)="closeCreate()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          <!-- <img src="assets/icons/arrow-back.svg" alt=""> -->
        </ion-button>
      </ion-buttons>
      <ion-title>
        <h2>{{'crear campo' | uppercase}}</h2>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="banner">
    <img src="assets/img/admin-avatar.svg" />
    <h3>DESCRICIÓN DEL CAMPO</h3>
  </div>
  <div class="pick-image-container">
    <input
      type="file"
      #fileInput
      (change)="uploadFile($event)"
      accept="image/*,video/*"
      hidden="true"
      multiple="true"
    />
    <input
      type="file"
      #fileInputVideo
      (change)="uploadFile($event)"
      hidden="true"
      multiple="true"
      accept="video/*;capture=camcorder"
    />
    <ion-button
      *ngIf="!backgroundImages.length"
      class="select-button"
      expand="block"
      (click)="selectImageSource()"
    >
      <img src="../../../../assets/icon/camera.png" alt="" />
    </ion-button>
    <!-- </div> -->
    <p
      *ngIf="!backgroundImages.length"
      class="text ion-text-center ion-margin-bottom"
    >
      Elige una foto para tu campo
    </p>
    <swiper
      *ngIf="backgroundImages.length > 0"
      [pagination]="{
        dynamicBullets: true
      }"
      #swiper
    >
      <ng-template
        *ngFor="let image of backgroundImages;index as i"
        swiperSlide
      >
        <img [src]="image" class="picture" alt="" />

        <ion-button
          class="delete-button"
          color="danger"
          (click)="removeImage(i)"
          shape="outline"
        >
          X
        </ion-button>
      </ng-template>
    </swiper>
    <!-- <ion-button
      *ngIf="backgroundImages.length"
      class="add-image-button"
      (click)="selectImageSource()"
      expand="block"
      shape="round"
    >
      Agregar imagen extra
    </ion-button> -->
  </div>
  <form class="ion-padding section-1">
    <div class="section_title">
      <h3>Información del Club</h3>
      <!-- <img src="assets/icons/edit-pencil-grey.svg" alt="" /> -->
    </div>
    <ion-textarea
      [formControl]="information"
      placeholder="Escribe algo..."
      class="description"
    >
    </ion-textarea>

    <div class="section_title">
      <h3>¿Qué ofreces en tu campo?</h3>
    </div>

    <div class="option-buttons">
      <button
        class="option-button"
        *ngFor="let btn of optionButtons"
        (click)="selectService(btn)"
        [ngClass]="{selected: btn.selected}"
      >
        {{btn.text}}
      </button>
    </div>

    <div class="section_title">
      <h3>Diseñador</h3>
    </div>

    <app-designer-avatar (image)="captureImage($event)"></app-designer-avatar>

    <div class="campus-input">
      <label for="name">Nombre:</label>
      <input
        [formControl]="name"
        placeholder="Escribe algo..."
        title="name"
        type="text"
      />
    </div>

    <div class="campus-input">
      <label for="title">Titulo:</label>
      <input
        [formControl]="title"
        placeholder="Escribe algo..."
        name="title"
        type="text"
      />
    </div>

    <ion-item lines="none">
      <ion-label>
        <img src="../../../../../assets/icon/geolocation.svg" alt="" />
      </ion-label>

      <input
        class="addressInput"
        type="text"
        placeholder=" Ubicación"
        [(ngModel)]="userAddress"
        name="location"
        ngx-google-places-autocomplete
        (onAddressChange)="handleAddressChange($event)"
      />
    </ion-item>

    <div class="campus-input">
      <label for="title">Año:</label>
      <input
        [formControl]="year"
        placeholder="Escribe algo..."
        name="title"
        type="number"
        min="2017"
        max="2100"
      />
    </div>
    <ion-item class="ion-no-padding" *ngIf="year.value > 2022" lines="none">
      <ion-label class="validation-text">Valor máximo 2022</ion-label>
    </ion-item>
    <div class="section_title">
      <h3>Horario</h3>
    </div>
    <!-- <div class="itinerary"> -->
    <div class="times">
      <h3 class="time-title">Dia:</h3>
      <div class="select-time">
        <div class="time">
          <label for="day1">Desde: </label>
          <ion-select [(ngModel)]="dayA" type="time" name="day1" id="">
            <ion-select-option *ngFor="let d of daysA" [value]="d"
              >{{d}}</ion-select-option
            >
          </ion-select>
        </div>
        <div class="time">
          <label for="day2">Hasta: </label>
          <ion-select [(ngModel)]="dayB" type="time" name="day1" id="">
            <ion-select-option *ngFor="let dB of daysA" [value]="dB"
              >{{dB}}</ion-select-option
            >
          </ion-select>
        </div>
        <!-- <ion-button size="small" (click)="addDay()" >
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button> -->
      </div>
      <!-- <ion-row class="tags-row" *ngIf="days.length">
          <div *ngFor="let d of days; index as i" class="hashtags">
            <p>{{ d }}</p>
            <a (click)="removeDay(i)">X</a>
          </div>
        </ion-row> -->

      <h3 class="time-title">Hora:</h3>
      <div class="select-time">
        <div class="time">
          <label for="hour1">Desde: </label>
          <input
            (ngModelChange)="showValueA($event)"
            [(ngModel)]="timeA"
            type="time"
            name="hour1"
            id=""
          />
        </div>
        <div class="time">
          <label for="hour2">Hasta: </label>
          <input
            (ngModelChange)="showValueB($event)"
            [(ngModel)]="timeB"
            type="time"
            name="hour2"
            id=""
          />
        </div>
        <!-- <ion-button size="small" (click)="addTime(timeA, timeB)" >
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button> -->
      </div>
      <ion-row class="tags-row" *ngIf="selectedTimes.length">
        <div *ngFor="let time of selectedTimes; index as i" class="hashtags">
          <p>{{ time }}</p>
          <a (click)="removeTime(i)">X</a>
        </div>
      </ion-row>
    </div>
    <ion-button
      [disabled]="!dayA || !dayB || !timeA || !timeB"
      size="small"
      (click)="addTime(timeA, timeB, dayA, dayB)"
    >
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
    <!-- </div> -->

    <ion-button
      [disabled]="(!information.value || !services.length || !name.value || !title.value || !year.value || year.value > 2022 ||!days.length || !hours.length || !userAddress) "
      class="submit-button"
      (click)="onSubmit()"
      expand="block"
      shape="round"
    >
      Publicar
    </ion-button>
  </form>
</ion-content>
