@import "../../../../../../../scss/variables.scss";

:host {
  width: 100%;
}

form {
  display: flex;

  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 25rem;
  max-width: 35rem;
  margin: 0 auto 5rem;

  .input-col {
    margin-right: 15px !important;
  }

  .input-text {
    font-size: 1.3rem;
    line-height: 1.7rem;
    font-weight: 500;
    color: #383838;
    text-align: center;
  }

  h3 {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2rem;

    color: #000000;
  }

  .buttons-containers {
    width: 85%;
    margin: 20px auto;
    ion-col {
      padding: 0;

      button {
        background: #fff;
        width: auto;
        max-width: 115px;
        width: 100%;
        height: 26px;
        margin: 0 auto 15px;
        padding: 0 10px;
        font-weight: 500;
        font-size: 1.1rem;
        line-height: 1.6rem;
        color: $text-color;
        border: 1.2px solid #a7a7a7;
        border-radius: 17.5px;

        &.isActive {
          border: 1.2px solid #009dd6;
        }

        // &:focus {
        //   border: 1.2px solid #009dd6;
        // }

        &.button-large {
          max-width: 100%;
        }
      }
    }
  }
}

.next-button {
  width: 90%;
}

.validation-errors {
  font-size: small;
  color: #f1453d;
}
.error-message {
  margin-bottom: 2.5rem;
  padding: 0 5px;
  text-align: right;
  font-size: 1.2rem;
  color: #f1453d;
}

.show-password {
  font-size: 16px !important;
  position: relative !important;
  top: 16px !important;
  margin: 0 auto !important;
  color: #383838;
}

ion-list {
  --ion-item-background: transparent !important;
  width: 100%;
}

ion-label {
  font-family: "Montserrat" !important;

  --color: #383838 !important;
  font-size: 13px !important;
  line-height: 17px !important;
  font-weight: 500 !important;
  color: #383838 !important;
  display: flex !important;
  align-items: center;
  ion-icon {
    color: #00388b;
    font-size: 20px;
    margin-right: 12px !important;
  }
  img {
    margin-right: 12px;
  }
}

ion-item {
  --color: #00388b;
  margin-bottom: 20px;
  --padding-start: 0 !important;
}

ion-item.item-has-focus > ion-label {
  color: #00388b !important;
}

ion-input {
  color: #383838 !important;
}

ion-checkbox {
  --background: transparent;
  --background-checked: #00388b;
  --border-color: #383838;
  --border-color-checked: #00388b;
  margin-right: 0.5rem;
}

.validation-text {
  font-size: 12px;
  color: red;
}

.login-btn {
  --background: transparent;
  --border-style: solid;
  --border-width: 1px;
  --border-color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
}

.signup-btn {
  --background: #009dd6;
}

.link {
  color: #009dd6;
}
