<form>
  <ion-list>
    <ion-item>
      <ion-label position="floating">
        <!-- <ion-icon [src]="personIcon"></ion-icon>  -->
        <img src="../../../../../../assets/icon/forms/lock.png" alt="" />
        Contraseña actual
      </ion-label>
      <ion-input></ion-input>
    </ion-item>
    <h3>Cambiar contraseña</h3>
    <ion-item>
      <ion-label position="floating">
        <!-- <ion-icon name="mail-outline"></ion-icon>  -->
        <img src="../../../../../../assets/icon/forms/unlocked.png" alt="" />

        Contraseña nueva
      </ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        <!-- <ion-icon name="document-outline"></ion-icon>  -->
        <img src="../../../../../../assets/icon/forms/unlocked.png" alt="" />

        Contraseña nueva
      </ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>

  <ion-button class="next-button" shape="round"> Guardar Cambios </ion-button>
</form>
