.label {
    font-size: 13px;
    padding-bottom: 10px;
    padding-top: 20px;

  
  }
  
  .game-btn{
    font-size: 13px;
    text-transform: capitalize;
    ion-icon{
      padding-right: 5px;
    }
    
  }