<ion-content class="vertical-align-center">
  <!-- <ion-grid> -->
  <ion-row justify-content-center>
    <ion-col class="pricipal-col">
      <div class="register-card">
        <h2 class="card-title text-center">Resumen de tu perfil</h2>

        <ion-list>
          <ion-item lines="none">
            <div class="container-avatar">
              <div
                class="outer"
                [ngStyle]="{'background-image': 'url(' + imageAvatarDefault + ')'}"
              >
                <div class="input-file-container">
                  <ion-button>
                    <ion-icon
                      ion-icon
                      name="pencil"
                      classs="camera-icon"
                    ></ion-icon>
                  </ion-button>
                </div>
              </div>
            </div>
          </ion-item>
          <div class="user-profile">
            <h3 class="profile-name text-center">{{userName}}</h3>
            <h5 class="profile-golfer text-center">Perfil Golfer</h5>
          </div>
          <div class="user-info">
            <p class="profile-text text-center">Handicap {{handicap}}</p>
            <p class="profile-text text-center">Licencia {{license}}</p>
            <p class="card-text text-center">
              <span>
                <img src="./../../../assets/icon/corona.png" alt="" />
              </span>
              Socio Real Club Valderrama
            </p>
          </div>
        </ion-list>
        <div class="edit">
          <a href="/step1">
            <span><img src="../../../assets/icon/pencil.svg" alt="" /></span>
            Editar</a
          >
        </div>
        <div class="button-container">
          <ion-button
            class="next-button"
            type="submit"
            shape="round"
            expand="block"
            [routerLink]="['/tabs']"
          >
            ¡Comenzar!
          </ion-button>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <!-- </ion-grid> -->
</ion-content>
