<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/website">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-title class="ion-justify-content-center">
      <h2>
        <img src="../../../../assets/icons/tab/users.svg  " alt="" />
        AMIGOS
      </h2>
    </ion-title>
  </ion-toolbar>
  <div class="search-container">
    <h3>Busca o agrega amigos</h3>

    <div class="search">
      <input
        type="text"
        placeholder="Escribe algo..."
        [(ngModel)]="searchItem"
        (ngModelChange)="search($event)"
      />
      <img src="../../../../assets/icons/search.svg" alt="" />
    </div>
  </div>
</ion-header>

<ion-content class="content">
  <div class="toggle-tab">
    <div [ngClass]="{'active': all}" class="fondo"></div>
    <div class="toggle-buttons">
      <button [ngClass]="{'active': following}" (click)="prev() ">
        Amigos
      </button>
      <button [ngClass]="{'active': all}" (click)="next()">Usuarios</button>
    </div>
  </div>

  <swiper #swiper [allowTouchMove]="false" class="mySwiper">
    <ng-template swiperSlide>
      <p class="searching" *ngIf="isLoading">Buscando...</p>

      <ion-list class="Searched-friends" lines="none">
        <h3 *ngIf=" !friendsData" class="list-title">Tus amigos</h3>
        <app-friend
          *ngFor="let data of friends$ | async"
          [user]="data"
          [isFriend]="true"
        ></app-friend>
      </ion-list>

      <ion-list class="friends1" *ngIf="friendsData" lines="none">
        <h3 class="list-title">Tus amigos</h3>
        <app-friend
          *ngFor="let data of friends; index as i"
          [user]="data.to"
          [isFriend]="true"
        ></app-friend>
      </ion-list>
    </ng-template>
    <ng-template swiperSlide>
      <p class="searching" *ngIf="isLoading">Buscando...</p>

      <ion-list lines="none">
        <h3 class="list-title">Usuarios</h3>
        <app-friend
          *ngFor="let data of users$ | async"
          [user]="data"
        ></app-friend>
      </ion-list>
    </ng-template>
  </swiper>

  <!-- <ion-list *ngIf="mayKnow.length" lines="none">
    <h3 class="list-title">Personas que quizas conozcas</h3>
    <app-friend
      *ngFor="let data of mayKnow; index as i "
      (addedFriend)="addedFriend($event, i)"
      [user]="data"
    ></app-friend>
  </ion-list> -->
</ion-content>

<!-- [image]="data.profile.photo"
  [name]="data.name"
  [address]="data.profile.address"
  [handicap]="data.profile.handicap" -->
<!-- </ion-content> -->
