<div class="ranking-card">
  <div class="border-card"></div>
  <div class="ranking-card-content">
    <div class="ranking-card__header">
      <div class="info">
        <div class="card-title">
          <div class="date">
            <span>01</span>
            <div class="divider"></div>
            <span>OCT</span>
          </div>
          <h3 class="default-text">El Chaparral Golf, Marbella, Málaga</h3>
        </div>
        <p>Andalucía Golf Challenge 2021</p>
      </div>
      <div class="image-container">
        <img src="../../../../assets/img/ranking-card/club.png" alt="" />
      </div>
    </div>
    <ul class="results-list">
      <li class="result">
        <h4>Hex</h4>
        <p>9,8</p>
      </li>
      <li class="result">
        <h4>Hpu</h4>
        <p>11</p>
      </li>
      <li class="result">
        <h4>Total</h4>
        <p>37</p>
      </li>
      <li class="result p-ranking">
        <h4>P. Ranking</h4>
        <p>2</p>
      </li>
    </ul>
  </div>
</div>
