@import "../../scss/variables.scss";

* {
  font-family: "Montserrat" !important;
}

ion-content {
  --padding-bottom: 55px;
}

.swiper {
  width: 100%;
  max-width: 45rem;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-bottom: 40px;
}

ion-header {
  ion-toolbar {
    --background: #00388b !important;
    ion-title {
      margin-right: 50px;

      h2 {
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 2.2rem;
        /* identical to box height, or 22px */

        font-variant: small-caps;
        display: flex;
        justify-content: center;

        color: #ffffff;
        text-transform: uppercase;

        img {
          width: 18px;
          height: 18px;
          object-fit: cover;
          margin-right: 0.8rem;
        }
      }
    }
  }

  ion-button {
    width: 54px;
    height: 100%;

    ion-icon {
      color: #fff;
    }
  }
}

.data-input {
  display: flex;
  align-items: center;
  padding: 8px 30px 8px 20px;

  background: rgba(143, 143, 143, 0.3);
  border-radius: 25px;
  text-align: center;
  color: #383838;
  border: none;
  font-size: 1.3rem;

  input {
    margin: 0 3px;
  }

  img.cancel {
    width: 16px;
    height: 16px;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img.geo {
    width: 12px;
    object-fit: cover;
  }
}

.content {
  --background: white;
  --padding-start: 18px;
  --padding-end: 18px;
  --padding-top: 18px;
  // --padding-bottom: 18px;

  // .create-post-container {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   width: 100%;
  //   height: 100%;
  //   padding-top: 2rem;

  .pick-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    // height: 35rem;
    border-bottom: 1px solid #ddd;
    margin-bottom: 2.5rem;

    .select-button {
      width: 106px;
      height: 106px;
      --border-radius: 1rem;
      --background: #009dd6;
      margin-bottom: 2.2rem;
    }

    p {
      height: 3.4rem;
      width: 207px;
    }

    .picture {
      width: 100%;
      // height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .delete-button {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }

    .add-image-button {
      margin-bottom: 0.5rem;
      --background: #009dd6;
    }

    .video-container {
      width: 100%;

      .video {
        width: 100%;
        height: 400px;
      }
    }
  }

  .footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 2rem;
    border-bottom: 1px solid #ddd;

    ion-textarea {
      --background: #ddd;
      --padding-bottom: 10px;
      --padding-end: 10px;
      --padding-start: 10px;
      --padding-top: 10px;
      border-radius: 10px;
      width: 100%;
      max-width: 400px;
      height: 350px;
      margin-top: 1rem;
    }
  }
  ion-back-button {
    display: block;
  }

  form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;

    ion-list {
      width: 100%;
    }

    .hashtag-button {
      --background: #009dd6;
    }

    .addressInput-label {
      padding-left: 12px;
    }

    .addressInput {
      width: 90%;
      background: transparent;
      border: none;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 17px;
      outline: none;
      text-align: left;
      color: #000;
    }
  }
  // }
}

.post-container {
  z-index: 1;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10.6rem;
  height: 10.6rem;
  border-bottom: 1px solid #ddd;
  margin-bottom: 2.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  width: 150px;
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.next-button {
  width: 90%;
}

.tags-input {
  --color: #00388b;

  margin-bottom: 0;
}

.tags-row {
  margin: 1rem 0;
}

.tag {
  width: 2rem;
  object-fit: cover;
}

.location {
  width: 1.6rem;
  object-fit: cover;
}

.hashtags {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // width: 100%;
  height: 2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ddd;

  p {
    font-size: 1.3rem;
    font-weight: 500;
    color: #383838;
  }
  a {
    margin-left: 1rem;
    font-size: 1.4rem;
    cursor: pointer;
  }
}

ion-list {
  --ion-item-background: transparent !important;
}

ion-label {
  --color: #383838 !important;
  font-family: "Montserrat" !important;

  font-size: 13px !important;
  line-height: 17px !important;
  font-weight: 500 !important;
  color: #383838 !important;
  display: flex !important;
  align-items: center;
  ion-icon {
    color: #00388b;
    font-size: 20px;
    margin-right: 12px !important;
  }
  img {
    margin-right: 12px;
  }
}

ion-item {
  --color: #00388b;
  // margin-bottom: 20px;
  --border-color: #dddddd;
  font-family: "Montserrat" !important;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
}

ion-item.item-has-focus > ion-label {
  color: #00388b !important;
}

ion-input {
  color: #383838 !important;
  // font-family: "Montserrat" important;
  // font-style: normal;
  // font-weight: 500;
  // font-size: 13px;
  // line-height: 17px;

  .native-input .sc-ion-input-md {
    // color: #383838 !important;
    font-family: "Montserrat" !important;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
  }
}
