<app-header backButton="true" title="Amigos" icon="assets/icons/tab/users.svg">
</app-header>

<ion-toolbar color="primary" class="search-container">
  <div class="title ion-padding-horizontal">Busca o agrega amigos</div> 
  <ion-searchbar [(ngModel)]="search" (ionChange)="searchUsersOrFriends()"  placeholder="Buscar" [debounce]="1000"></ion-searchbar>
</ion-toolbar>


<ion-content>
  <app-toggle-options color="#009838" [toggle]="toggleUsersType$" [options]="toggleUsersType"></app-toggle-options>


  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="ion-padding-horizontal">
      <div *ngIf="!toggleUsersType$.value" class="title">Tus Amigos</div>
  <div *ngIf="toggleUsersType$.value" class="title">Personas que quizá conozcas...</div>
  </div>


  <!--==========================Amigos=========================-->
  <div class="ion-padding-bottom" *ngIf="friends.length && !loadingFriends && !toggleUsersType$.value">
    <div class="user-container" *ngFor="let u of friends">
      <ion-item  lines="none">
        <ion-avatar routerLink="/tabs/user-profile/{{u.id}}" class="ion-margin-end ion-margin-vertical" slot="start">
          <img [src]="u.profile.photo ? u.profile.photo : 'assets/img/default-avatar.png'" />
        </ion-avatar>
        <ion-label>
          <div class="name ion-margin-end">{{u.name}}</div>
          <div *ngIf="u.profile.address" class="country">{{u.profile.address}}</div>
          <div *ngIf="u.profile.handicap" class="hcp">HCP {{u.profile.handicap}}</div>
        </ion-label>
        <ion-icon *ngIf="!loadingChats" (click)="openSingleChatRoom(u)" color="secondary" slot="end" src="assets/icons/message.svg"></ion-icon>
        <ion-icon routerLink="/tabs/play/create-game/x/{{u.id}}"  color="secondary" class="play-icon" slot="end" src="assets/icons/play.svg"></ion-icon>
        <ion-icon (click)="confirmUnfollow(u)" color="secondary" slot="end" src="assets/icons/user-remove.svg"></ion-icon>
      </ion-item>
    </div> 
  </div>

    <!--==========================Personas=========================-->
  <div class="ion-padding-bottom" *ngIf="users.length && !loadingUsers && toggleUsersType$.value">
    <div class="user-container" *ngFor="let u of users">
      <ion-item  lines="none">
        <ion-avatar routerLink="/tabs/user-profile/{{u.id}}" class="ion-margin-end ion-margin-vertical" slot="start">
          <img [src]="u.profile.photo ? u.profile.photo : 'assets/img/default-avatar.png'" />
        </ion-avatar>
        <ion-label>
          <div class="name">{{u.name}}</div>
          <div *ngIf="u.pending" class="pending">Solicitud Pendiente</div>
          <div *ngIf="u.profile.address" class="country">{{u.profile.address}}</div>
          <div *ngIf="u.profile.handicap" class="hcp">HCP {{u.profile.handicap}}</div>
        </ion-label>
        <ion-icon *ngIf="!loadingChats" (click)="openSingleChatRoom(u)" color="secondary" slot="end" src="assets/icons/message.svg"></ion-icon>       
        <ion-icon *ngIf="!u.pending && !u.isFriend" (click)="confirmFriendRequest(u)" color="secondary" slot="end" src="assets/icons/user-add.svg"></ion-icon>
        <ion-icon *ngIf="u.pending" color="secondary" slot="end" name="time-outline"></ion-icon>
        <ion-icon *ngIf="u.isFriend" (click)="confirmUnfollow(u)" color="secondary" slot="end" src="assets/icons/user-remove.svg"></ion-icon>
      </ion-item>
    </div> 
  </div>
 

    <!--==========================Cargando=========================-->
    <app-users-loader *ngIf="loadingUsers && !toggleUsersType$.value"></app-users-loader>
    <app-users-loader *ngIf="loadingUsers && toggleUsersType$.value"></app-users-loader>

    <!--==========================Sin Amigos=========================-->
  <div class="no-users" *ngIf="!friends.length && !loadingUsers && !toggleUsersType$.value">
    <ion-icon src="assets/icons/tab/users.svg"></ion-icon>
    <h3>{{search ? 'No hay resultados' : 'No tienes amigos'}}</h3>
  </div>

</ion-content>
