ion-content {
    --background: white;
    font-size: 13px;
  }
  
  .title {
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 10px;
  }

  .pending{
    font-size: 11px;
    color: var(--ion-color-secondary);
    font-weight: 600;
  }
  
  .search-container {
    border-radius: 0px 0px 20px 20px;
    padding: 20px;
  }

  .user-container{
    padding: 20px 15px 0px 15px;
  }

  ion-item{
    --border-radius: 15px;
    --background: #f2f2f2;   
    
    ion-icon{      
      padding-right: 5px;
    }

    .play-icon{
      font-size: 26px;
    }
  }
  
  ion-searchbar {
    --border-radius: 100px;
    --box-shadow: none;
    --background: #fafafaed;    
  }

  ion-avatar{
    width: 65px;
    height: 65px;
  }

  .name {
    font-size: 13px;
    color: #2C2C2C;
    font-weight: 700;
    text-transform: capitalize;
}

.country {
    font-size: 11px;
    color: #8F8F8F;
}

.hcp {
    font-size: 11px;
    color: #009838;
    font-weight: bold;
}

.no-users{
  padding-top: 10%;
  text-align: center;
  color: var(--ion-color-medium);
}
.no-users ion-icon{
 font-size: 100px;
}