<ion-content class="">
  <!-- <ion-grid class="background"> -->
  <ion-row justify-content-center class="vertical-align-center">
    <ion-col class="pricipal-col">
      <div class="register-card">
        <div>
          <h2 class="card-title text-center">queremos conocerte más</h2>
          <p class="card-text text-center">
            Vamos a completar tu perfil rellenando algunos campos.
          </p>
        </div>
        <ion-list>
          <p class="card-text text-center">Fecha de nacimiento</p>
          <!-- <ion-item lines="none"> -->
          <div class="birthday">
            <app-select-date (date)="getDate($event)"></app-select-date>
          </div>
          <p class="card-text text-center">¿Cuál es tu género?</p>
          <ion-item lines="none">
            <div class="buttons-containers">
              <ion-row>
                <ion-col class="ion-text-center">
                  <button
                    class="experience-button"
                    [ngClass]="{'isActive': isActive1}"
                    value="1"
                    (click)="chooseGender($event)"
                  >
                    Femenino
                  </button>
                  <!-- <input type="button" value="Menos de un año" (click)="timePlaying = 1"> -->
                </ion-col>
                <ion-col class="ion-text-center">
                  <button
                    class="experience-button"
                    [ngClass]="{'isActive': isActive2}"
                    value="2"
                    (click)="chooseGender($event)"
                  >
                    Masculino
                  </button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-text-center">
                  <button
                    class="experience-button button-large"
                    [ngClass]="{'isActive': isActive3}"
                    value="3"
                    (click)="chooseGender($event)"
                    expand="block"
                  >
                    Prefiero no decirlo
                  </button>
                </ion-col>
              </ion-row>
            </div>
            <br />
          </ion-item>
          <p class="card-text text-center">¿Dónde vives?</p>
          <ion-item lines="none">
            <div class="data-input">
              <img
                class="geo"
                src="../../../assets/icon/geolocation.png"
                alt=""
              />
              <input
                type="text"
                name="license"
                placeholder=" Ubicación Actual"
                id="input-step6"
                [formControl]="address"
              />

              <a (click)="resetInput()">
                <img
                  class="cancel"
                  src="../../../assets/icon/cancel.png"
                  alt=""
                />
              </a>
            </div>
            <br />
          </ion-item>
          <!-- <ion-item lines="none" class="not-license">
            <a class="have-not-link">No tengo Licencia</a>
          </ion-item> -->
        </ion-list>
        <div>
          <ion-button
            [routerLink]="['/step2']"
            class="next-button"
            type="submit"
            shape="round"
            expand="block"
            (click)="onSubmit()"
          >
            <span><img src="./../../../assets/icon/next.png" alt="" /> </span>
            Siguiente
          </ion-button>

          <div class="progress text-center">
            <ion-icon name="ellipse" class="progress-icon-done"></ion-icon>
            <ion-icon name="ellipse" class="progress-icon"></ion-icon>
            <ion-icon name="ellipse-outline" class="progress-icon"></ion-icon>
            <ion-icon name="ellipse-outline" class="progress-icon"></ion-icon>
            <ion-icon name="ellipse-outline" class="progress-icon"></ion-icon>
          </div>
          <div class="ignore-container">
            <p class="ignore-container__link">
              <a [routerLink]="['/website']"> Omitir por ahora</a>
            </p>
          </div>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <!-- </ion-grid> -->
</ion-content>
