<ion-header>
  <ion-toolbar>
    <ion-title>image-cropper</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col>
      <image-cropper
        #imageCropper
        [imageBase64]="imageBase64"
        [maintainAspectRatio]="true"
        [aspectRatio]="4 / 3"
        [resizeToWidth]="0"
        format="png"
        (imageCropped)="imageCropped($event)"
      >
      </image-cropper>
      <img [src]="croppedImage" />
      <ion-button (click)="dismissModal()"> Recortar </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col></ion-col>
  </ion-row>
</ion-content>
