<ion-content>
  <div class="header">
    <div class="header-links">
      <a [routerLink]="['edit']"
        ><img
          class="profile-icon"
          src="../../../../assets/icon/perfil.png"
          alt=""
        />
        Editar Cuenta</a
      >
      <a (click)="shareQR()">
        <img
          class="share-icon"
          src="../../../../assets/icon/compartir.png"
          alt=""
      /></a>
    </div>

    <app-avatar></app-avatar>
    <div class="user-profile">
      <h3 class="profile-name text-center">{{userName}}</h3>
      <h5 class="profile-golfer text-center">Perfil Golfer</h5>
    </div>
    <div class="qr"></div>
  </div>
  <div class="edit-profile-card">
    <div class="edit-nav">
      <div class="qr-container">
        <div class="qr-info">
          <h3>MyGolfPass</h3>
          <h4>5768 2948 4872 9692</h4>
          <p>{{userName}}</p>
        </div>
        <div class="qr" (click)="openModal()">
          <img src="../../../../assets/icon/qr.png" alt="" />
        </div>
      </div>
      <div
      class="profile-card"
    >
      <div class="ion-padding-top">
      <ion-segment [(ngModel)]="segment" color="secondary">
        <ion-segment-button value="level">
          <ion-label>Nivel</ion-label>
        </ion-segment-button>
        <ion-segment-button value="bolsa">
          <ion-label>Bolsa</ion-label>
        </ion-segment-button>
        <ion-segment-button value="courses">
          <ion-label>Campos</ion-label>
        </ion-segment-button>
        <ion-segment-button value="posts">
          <ion-label>Publicaciones</ion-label>
        </ion-segment-button>
      </ion-segment> 
    </div>
    </div>
  </div>
  <div class="ion-text-center"  *ngIf="segment == 'level'">
    <img  src="assets/img/nivel.png" alt=""> 
 </div>
    <div *ngIf="segment == 'courses'">
      <app-toggle-options color="#009838" [toggle]="toggle$" [options]="toggleOptions"></app-toggle-options>
      <app-golf-course-item [coursesPlayed]="courses" *ngIf="!toggle$.value"></app-golf-course-item>
    </div>
    <!-- <app-posts *ngIf="posts"></app-posts> -->
    <app-posts
      (loadMore)="onLoadMore()"
      [loadingMore]="isLoadingMore"
      [posts]="postsData"
      *ngIf="segment == 'posts'"
    ></app-posts>
  </div>
</ion-content>
