<ion-grid style="padding-top: 15px;" fixed>
  <ion-row class="ion-text-center">
    <ion-col size="4">
      <ion-icon class="icon-md" color="secondary" name="location-outline"></ion-icon>
      <div class="contact-name">Como llegar</div>
    </ion-col>
    <ion-col size="4">
      <ion-icon class="icon-md" color="secondary" name="call-outline"></ion-icon>
      <div class="contact-name">Llamar</div>
    </ion-col>
    <ion-col style="padding-top: 10px;" size="4">
      <ion-button size="small" expand="block" mode="ios" color="secondary" shape="round">
        Reservar
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

<div class="ion-padding-vertical">
  <div #mapElement class="map"></div>
</div>

<div *ngIf="!games.length" class="center ion-padding-vertical">
  <div class="havent-play">
    ¡No has jugado en este campo!
  </div>
</div>

<div *ngIf="games.length">
  <div class="ion-padding-top label">Mis partidas</div>
  <app-game-item [games]="games"></app-game-item>
</div>


<div *ngIf="detail && detail.designer && detail.designer.url">
<div class="ion-padding-vertical label">Diseñador</div>
<ion-item lines="none" class="ion-no-padding">
  <ion-avatar>
    <img [src]="detail.designer.url" />
  </ion-avatar>
  <ion-label class="ion-padding-start designer-label">
    <div class="designer-name">{{detail.designer.name}}</div>
    <div>{{detail.designer.title}}</div>
    <div>Diseñado en {{detail.designer.year}}</div>
  </ion-label>
</ion-item>
</div>

<div *ngIf="reviews.value.length">
<div class="level ion-padding-top">Dificultad del Campo: 

  <strong *ngIf="average.value == 1">Muy Fácil</strong>
  <strong *ngIf="average.value == 2">Fácil</strong>
  <strong *ngIf="average.value == 3">Media</strong>
  <strong *ngIf="average.value == 4">Difícil</strong>
  <strong *ngIf="average.value == 5">Muy Difícil</strong>
</div>

<div class="ion-padding-bottom">
  <ion-range
    disabled 
    [ngClass]="{'very-easy': average.value == 1,'easy': average.value == 2,'medium': average.value == 3,'hard': average.value == 4,'very-hard': average.value == 5}"
    [value]="average.value" class="level-range" ticks="true" mode="ios" snaps="true" min="0" max="5"></ion-range>
  <div style="display: flex;justify-content: space-between;">
    <div>Muy Fácil</div>
    <div>Fácil</div>
    <div>Media</div>
    <div>Difícil</div>
    <div>Muy Difícil</div>
  </div>
</div>
</div>

<div class="ion-padding-vertical label">Información del Club</div>
<ion-grid *ngIf="services.length" class="ion-padding-bottom" fixed>
  <ion-row>
    <ion-col *ngFor="let s of services" size="3">
      <div class="hole-card ion-activatable ripple-parent">
        <!-- <ion-icon [src]="f.icon"></ion-icon> -->
        <div class="name">{{s.name}}</div>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

<p *ngIf="detail.information" class="history">{{detail.information}}</p>

<div *ngIf="detail.hour && detail.hour.length">
  <div class="ion-padding-top label">Horario</div>
  <ion-item class="ion-no-padding schedule" *ngFor="let s of schedule; index as i">
    <ion-label>{{s.day}}</ion-label> 
    <span slot="end">{{s.hour}}hr</span>
  </ion-item>
</div>


<div style="padding-top: 40px;" class="ion-text-center">
  <div class="partner-text ion-padding-bottom">¿Eres socio de {{detail.courseName ? detail.courseName : 'este club'}}?</div>
  <ion-button class="enlace-btn"  mode="ios" color="secondary" shape="round">
   <ion-icon slot="start" style="padding-right: 5px;" name="person-outline"></ion-icon>
   Vincular Cuenta
  </ion-button>
</div>
<!-- <div style="padding-top: 30px;" class="ion-text-center">
  <ion-button (click)="goToAdminRequest()" class="enlace-btn" expand="block" color="secondary" fill="clear" shape="round">
    <ion-icon slot="start" style="padding-right: 5px;" name="document-text-outline"></ion-icon>
    Administrar este campo
  </ion-button>
</div> -->