<ion-item lines="none">
  <ion-avatar [routerLink]="['/website/user-profile', user.profile.user_id]">
    <img [src]="user.profile.photo || avatarDefault" />
  </ion-avatar>
  <ion-label>
    <h4>
      {{ user.name }}
    </h4>
    <p>
      {{ user.profile.address }}
    </p>
    <span> HCP {{ user.profile.handicap }} </span>
  </ion-label>
  <div class="actions">
    <a>
      <img src="../../../../../../assets/icons/message-alt.svg" alt="" />
    </a>
    <a *ngIf="following">
      <img src="../../../../../../assets/icons/play.svg" alt="" />
    </a>
    <a *ngIf="!following" (click)="follow(user.id)">
      <img src="../../../../../../assets/icons/user-add.svg" alt="" />
    </a>
    <!-- <ion-button
      *ngIf="following"
      (click)="unfollow(user.id)"
      color="danger"
      expand="block"
      fill="clear"
      shape="round"
    >
      <ion-icon name="trash"></ion-icon>
    </ion-button> -->
  </div>
</ion-item>
