<ion-item lines="none">
  <ion-avatar [routerLink]="['/website/user-profile', user.profile.user_id]">
    <img [src]="user.profile.photo" />
  </ion-avatar>
  <ion-label>
    <h4>
      {{ user.name }}
    </h4>
    <p>
      {{ user.profile.address }}
    </p>
    <span> HCP {{ user.profile.handicap }} </span>
  </ion-label>
  <div class="actions">
    <a>
      <img src="../../../../../../assets/icons/message-alt.svg" alt="" />
    </a>
    <a *ngIf="following">
      <img src="../../../../../../assets/icons/play.svg" alt="" />
    </a>
    <a *ngIf="!following" (click)="follow(user.id)">
      <img src="../../../../../../assets/icons/user-add.svg" alt="" />
    </a>
  </div>
</ion-item>
