<app-header backButton="true" title="Mis torneos" icon="assets/icons/tournament-trophy.svg">
</app-header>
<ion-content>
  <div *ngIf="tournaments.image" class="square">
    <img [src]="tournaments.image">
  </div>

  <div class="ion-padding"> 
    <div *ngIf="tournaments.name" class="name title-principal">{{tournaments.name}}</div>
    <div *ngIf="tournaments.courses" class="location">{{tournaments.courses.courseName}}</div>

    <div *ngIf="tournaments.date" class="date">
      {{tournaments.date | date:'EEEE d'}} <br>de 
      {{tournaments.date | date:'MMMM h:mm'}} hr. <br>
    </div>

    <div class="label">
      Información del Evento
    </div>
    <div *ngIf="tournaments.description" class="description">
      {{tournaments.description}}
    </div>
  </div>

  <div class="ion-padding">
    <div class="border-top"></div>

    <ion-item lines="none" class="ion-no-padding">
      <ion-label><strong>Precio</strong></ion-label>
      <span slot="end">
        <div><strong>1 Entrada</strong> </div>
        <div *ngIf="tournaments.price">{{tournaments.price | currency: 'EUR'}}</div>
        <div *ngIf="!tournaments.price">GRATIS</div>
      </span>
    </ion-item>
  </div>

  <div class="ion-padding-start">
    <swiper *ngIf="services.length > 0" [config]="config">
      <ng-template *ngFor="let s of services" swiperSlide>
        <div class="extra-card">
          <ion-icon [src]="s.icon"></ion-icon>
          <div class="name">{{s.name}}</div>
          <div><strong>Incluido</strong></div>
        </div>
      </ng-template>
    </swiper>
  </div>
  <div class="ion-padding">
    <div class="border-bottom"></div>
  </div>

<div class="ion-padding-horizontal">
  <div class=""><h5 class="title-address"> Cómo llegar </h5></div>

  <ion-item class="ion-no-padding">
    <div class=" content-address">
      <img src="assets/img/icon-paste.png" class="img-address">
      <h6 class="subtitle-address">{{tournaments.address}}</h6>
    </div>
  </ion-item>
</div>
 
 
<div #mapElement class="map"></div>


<div class="ion-padding-horizontal ion-padding-bottom">
  <ion-button style="margin-top: 30px;" expand="block" color="success" mode="ios" shape="round">
  <span>RESERVAR PLAZA</span> 
  <ion-spinner color="light"></ion-spinner>
 </ion-button> 
 </div>
 <div class="ion-padding-horizontal">
  <ion-button expand="block" color="secondary" mode="ios" shape="round" style="margin-bottom: 20px;">
    <img src="assets/img/phone3.png" style="margin-right: 10px;">
    CONTACTAR CON ORGANIZADOR
 </ion-button> 
 </div>

</ion-content>