@import "../.././../../../../scss/variables.scss";

.edit-card {
  position: relative;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 2rem;
  // margin-bottom: 15rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-color: #fff;
  z-index: 999;

  .chart-container {
    width: 30rem;
    height: 30rem;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28rem;
    margin-top: 4rem;

    .data-input {
      margin-bottom: 3.5rem;

      p {
        margin: 0;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 121.9%;
        /* identical to box height, or 22px */

        letter-spacing: 0.075em;
        font-variant: small-caps;
        font-feature-settings: "pnum" on, "lnum" on;
        text-align: center;

        color: #8f8f8f;
      }
    }
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -2.5rem;
  left: 0;
  width: 100%;
  height: 2000px;
  padding: 2.5rem 1.6rem;
  background: linear-gradient(180deg, #00388b 0%, rgba(0, 157, 214, 0) 100%);

  h2 {
    margin-top: 3rem;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 121.9%;
    text-align: center;
    color: $color-white;
  }

  p {
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.6rem;
    text-align: center;
    color: $color-white;
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 2.5rem auto 2.7rem;
    list-style-type: none;

    li {
      width: 33.33%;
      // margin: 0.5rem;
      ion-button {
        display: flex;
        max-width: 110px;
        height: 2.5rem;
        margin: 0 auto;
        --background: rgba(255, 255, 255, 0.71);
        --border-radius: 2rem;
        filter: drop-shadow(0px 4px 6px rgba(0, 56, 139, 0.33));
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.4rem;
        text-align: center;
        text-transform: capitalize;
        color: #000;

        .point {
          width: 1.04rem;
          height: 1.1rem;
          border-radius: 50%;
          margin-right: 2px;
        }
        .blue {
          background: $blue;
        }
        .red {
          background: #ff0000;
        }
        .green {
          background: #009838;
        }
      }
    }
  }
  .ranking-cards-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    width: 100%;
  }
}
