
  <ion-toolbar [ngClass]="{'stepper-toolbar': stepper}" color="primary">
    <ion-buttons slot="start">
      <ion-back-button *ngIf="backButton" defaultHref="/"></ion-back-button>
      <ion-button *ngIf="backButtonModal" (click)="close()" shape="round">
             <ion-icon  color="light" style="font-size: 25px;" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title 
    *ngIf="!confirmation"
    [class.m-optional]="backButton || backButtonModal"
     [ngClass]="start ? 'ion-text-start' : 'ion-text-center'">
      <ion-icon *ngIf="icon" color="light" [src]="icon"></ion-icon>
     <span>{{title}}</span>
    </ion-title>
   
    <ion-title 
    *ngIf="confirmation"  
    style="padding-left: 45px;"  
     [ngClass]="start ? 'ion-text-start' : 'ion-text-center'">
      <ion-icon *ngIf="icon" color="light" [src]="icon"></ion-icon>
     <span>{{title}}</span>
    </ion-title>
  </ion-toolbar>

