<ion-content class="vertical-align-center">
  <!-- <ion-grid> -->
  <ion-row justify-content-center>
    <ion-col class="pricipal-col">
      <div class="register-card">
        <div class="image-container text-center">
          <ion-img
            class="step-img center"
            src="assets/img/player2.png"
          ></ion-img>
        </div>
        <h2 class="title-text-pos text-center">Analicemos tu nivel</h2>
        <p class="subtitle-text-pos text-center">
          Responde estas preguntas para poder deducir tu nivel actual
        </p>
        <form>
          <ion-list>
            <p class="profile-license text-center">Eres un jugador...</p>
            <ion-item lines="none">
              <div class="buttons-containers">
                <ion-row>
                  <ion-col class="ion-text-center">
                    <button class="type-button" (click)="type = 1">
                      Recurrente
                    </button>
                    <!-- <input type="button" value="Menos de un año" (click)="timePlaying = 1"> -->
                  </ion-col>
                  <ion-col class="ion-text-center">
                    <button class="type-button" (click)="type = 2">
                      Ocasional
                    </button>
                  </ion-col>
                  <ion-col class="ion-text-center">
                    <button class="type-button" (click)="type = 3">
                      Diario
                    </button>
                  </ion-col>
                </ion-row>
                <ion-row class="top-10">
                  <ion-col class="ion-text-center">
                    <button
                      class="experience-button"
                      (click)="type = 4"
                      expand="block"
                    >
                      Profesor/Entrenador de Golf
                    </button>
                  </ion-col>
                </ion-row>
                <ion-row class="top-10">
                  <ion-col class="ion-text-center">
                    <button class="experience-button" (click)="type = 5" value>
                      Profesional del Circuito de Golf
                    </button>
                  </ion-col>
                </ion-row>
              </div>
            </ion-item>
          </ion-list>
        </form>
        <div>
          <ion-button
            (click)="onSubmit()"
            type="submit"
            shape="round"
            expand="block"
          >
            <span><img src="./../../../assets/icon/next.png" alt="" /> </span>
            Siguiente
          </ion-button>
          <!-- <p></p> -->
          <div class="progress text-center">
            <ion-icon name="ellipse" class="progress-icon-done"></ion-icon>
            <ion-icon name="ellipse" class="progress-icon-done"></ion-icon>
            <ion-icon name="ellipse" class="progress-icon"></ion-icon>
            <ion-icon name="ellipse-outline" class="progress-icon"></ion-icon>
          </div>
          <div class="ignore-container">
            <p class="ignore-container__link">
              <a [routerLink]="['/home']"> Omitir por ahora</a>
            </p>
          </div>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <!-- </ion-grid> -->
</ion-content>
