@import "../../scss/variables.scss";

ion-content {
  --background: none;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.7) 68.23%
    ),
    url(../../../assets/img/golf-course.jpg) no-repeat center / cover;
}

// ion-col {
//   // padding: 20px;
//   // margin: 10px;
//   // border-radius: 25px;
//   // left: 0;
//   // background-color: #fff;
//   display: flex;
//   align-items: center;
// }

.vertical-align-center > * {
  height: 100%;
  display: flex !important;
  align-content: center !important;
  align-items: center !important;
  justify-content: center;
}

.step-img {
  width: 150px;
  height: 150px;
}

.text-center {
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.handicap-container {
  width: 100%;
  padding: 8px;
  background: rgba(143, 143, 143, 0.3);
  border-radius: 25px;
  color: #383838;
  padding-left: 20px;
  padding-right: 20px !important;
  border: none;

  &__input {
    width: 90%;
    margin: 0 auto;
    background: transparent;
    border: none;

    &:focus {
      outline: none;
    }
  }
}

.buttons-containers {
  width: 100%;
  margin-top: 10px;
  ion-col {
    padding: 0;

    .type-button {
      width: 100%;
    }

    button {
      background: #fff;
      width: auto;
      height: 26px;
      margin: 0 auto;
      padding: 0 10px;
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.6rem;
      color: $text-color;
      border: 1.2px solid #a7a7a7;
      border-radius: 17.5px;
      // text-transform: capitalize;

      &:focus {
        border: 1.2px solid #009dd6;
      }
    }
  }
}

.user-profile {
  margin-top: 20px;
  margin-bottom: 30px;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

ion-button {
  --background: #009dd6;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

// .progress-icon{
//   margin-left: 10px;
//   margin-right: 10px;
//   color: #009DD6;
// }

// .progress-icon-done{
//   margin-left: 10px;
//   margin-right: 10px;
//   color: #009838;
// }

ion-list {
  --ion-item-background: transparent !important;
}

// ion-label{
//   --color: #00388B !important;
// }

// ion-item.item-has-focus > ion-label{
//   color: #00388B !important;
// }

// ion-input{
//   // --background: rgba(143, 143, 143, 0.3) !important;
//   // border-radius: 25px;
//   // color: #383838 !important;
//   // padding-left: 20px !important;
//   // padding-right: 20px !important;
// }

.progress-icon {
  margin-left: 10px;
  margin-right: 10px;
  color: #009dd6;
}

.progress-icon-done {
  margin-left: 10px;
  margin-right: 10px;
  color: #009838;
}

// ion-list{
//   --ion-item-background: transparent !important;
// }

// ion-label{
//   --color: #00388B !important;
// }

// ion-item.item-has-focus > ion-label{
//   color: #00388B !important;
// }

// ion-input{
//   --background: rgba(143, 143, 143, 0.3) !important;
//   border-radius: 25px;
//   color: #383838 !important;
//   padding-left: 20px !important;
//   padding-right: 20px !important;
// }

// ion-checkbox{
//   --background: transparent;
//   --background-checked:#00388B;
//   --border-color: #383838;
//   --border-color-checked: #00388B;
//   margin-right: .5rem;
// }

// .validation-text{
//   font-size: 12px;
//   color: red;
// }

// .login-btn{
//   --background: transparent;
//   --border-style: solid;
//   --border-width: 1px;
//   --border-color: #fff;
//   margin-top: 20px;
//   margin-bottom: 20px;
// }

// .signup-btn{
//   --background: #009DD6;
// }
