<ion-content>
  <section>
    <div class="banner">
      <div class="banner-text">
        <h2>¡Hola José!</h2>
        <p>Busca todo lo que necesites en tu comunidad golfística</p>
      </div>
      <div class="data-input">
        <input type="text" placeholder="Campos, Destinos, Torneos" />
        <img src="../../../../assets/icon/search.png" alt="" />
      </div>

      <a
        ><img src="../../../../assets/icon/busqueda-avanzada.png" alt="" />
        Búsqueda Avanzada</a
      >
    </div>
  </section>
  <section class="main-section">
    <div class="slides-container">
      <div class="slides-container__header">
        <p class="slide-text">Campos cerca de ti...</p>
        <a class="view-map"
          ><img src="../../../../assets/icon/map.png" alt="" /> Ver Mapa</a
        >
      </div>
      <div class="galery">
        <ul class="stories-list">
          <li *ngFor="let card of cards">
            <app-story-card></app-story-card>
          </li>
        </ul>
      </div>

      <!-- <swiper #swiper>
        <ng-template  swiperSlide>Slide 1</ng-template
        ><ng-template  swiperSlide>Slide 2</ng-template
        ><ng-template  swiperSlide>Slide 3</ng-template
        ><ng-template  swiperSlide>Slide 4</ng-template
        ><ng-template  swiperSlide>Slide 5</ng-template
        ><ng-template  swiperSlide>Slide 6</ng-template
        ><ng-template  swiperSlide>Slide 7</ng-template
        ><ng-template swiperSlide>Slide 8</ng-template
        ><ng-template  swiperSlide>Slide 9</ng-template>
      </swiper> -->
    </div>
    <div class="slides-container">
      <div class="slides-container__header">
        <p class="slide-text">Próximos eventos en tu zona...</p>
        <a class="view-map"
          ><img src="../../../../assets/icon/map.png" alt="" /> Ver Mapa</a
        >
      </div>
      <div class="galery">
        <ul class="stories-list">
          <li *ngFor="let card of cards">
            <app-story-card></app-story-card>
          </li>
        </ul>
      </div>

      <!-- <swiper #swiper>
        <ng-template  swiperSlide>Slide 1</ng-template
        ><ng-template  swiperSlide>Slide 2</ng-template
        ><ng-template  swiperSlide>Slide 3</ng-template
        ><ng-template  swiperSlide>Slide 4</ng-template
        ><ng-template  swiperSlide>Slide 5</ng-template
        ><ng-template  swiperSlide>Slide 6</ng-template
        ><ng-template  swiperSlide>Slide 7</ng-template
        ><ng-template swiperSlide>Slide 8</ng-template
        ><ng-template  swiperSlide>Slide 9</ng-template>
      </swiper> -->
    </div>
    <div class="slides-container">
      <div class="slides-container__header">
        <p class="slide-text only">Personas que quizas conozcas...</p>
      </div>
      <div class="galery">
        <ul class="stories-list">
          <li *ngFor="let card of cards">
            <app-people></app-people>
          </li>
        </ul>
      </div>

      <!-- <swiper #swiper>
        <ng-template  swiperSlide>Slide 1</ng-template
        ><ng-template  swiperSlide>Slide 2</ng-template
        ><ng-template  swiperSlide>Slide 3</ng-template
        ><ng-template  swiperSlide>Slide 4</ng-template
        ><ng-template  swiperSlide>Slide 5</ng-template
        ><ng-template  swiperSlide>Slide 6</ng-template
        ><ng-template  swiperSlide>Slide 7</ng-template
        ><ng-template swiperSlide>Slide 8</ng-template
        ><ng-template  swiperSlide>Slide 9</ng-template>
      </swiper> -->
    </div>

    <app-post></app-post>
  </section>
</ion-content>
<div class="tabs">
  <a
    ><img
      class="create"
      src="../../../../assets/icon/menu/create.png"
      alt=""
    />CREAR</a
  >
  <a
    ><img
      class="play"
      src="../../../../assets/icon/menu/play.png"
      alt=""
    />JUGAR</a
  >
  <a
    ><img
      class="home"
      src="../../../../assets/icon/menu/home.png"
      alt=""
    />HOME</a
  >
  <a
    ><img
      class="message"
      src="../../../../assets/icon/menu/message.png"
      alt=""
    />MENSAJES</a
  >
  <a
    ><img
      class="burger"
      src="../../../../assets/icon/menu/burger.png"
      alt=""
    />MENU</a
  >
</div>
