<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <ion-list>
    <ion-item>
      <ion-label position="floating">
        <!-- <ion-icon [src]="personIcon"></ion-icon>  -->
        <img src="../../../../../../assets/icon/forms/person.png" alt="" />
        Nombre y Apellido
      </ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        <!-- <ion-icon name="mail-outline"></ion-icon>  -->
        <img src="../../../../../../assets/icon/forms/mail.png" alt="" />

        Mail
      </ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        <!-- <ion-icon name="document-outline"></ion-icon>  -->
        <img src="../../../../../../assets/icon/forms/license.png" alt="" />

        Número de Licencia
      </ion-label>
      <ion-input formControlName="license"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        <!-- <ion-icon name="call-outline"></ion-icon>  -->
        <img src="../../../../../../assets/icon/forms/phone.png" alt="" />

        Móvil
      </ion-label>
      <ion-input formControlName="phone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        <!-- <ion-icon name="home-outline"></ion-icon>  -->
        <img src="../../../../../../assets/icon/forms/home.png" alt="" />

        Dirección
      </ion-label>
      <ion-input formControlName="address"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-item class="input-col">
          <ion-label position="floating">Provincia</ion-label>
          <ion-input formControlName="province"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item class="input-col">
          <ion-label position="floating">C.P</ion-label>
          <ion-input formArrayName="cp"></ion-input>
        </ion-item>
      </ion-col>
      <!-- <ion-col>
      </ion-col> -->
    </ion-row>
    <ion-item>
      <!-- <ion-input formControlName="country"></ion-input> -->
      <ion-label>Country</ion-label>
      <ion-select okText="Aceptar" cancelText="Cancelar">
        <ion-select-option *ngFor="let country of countries">{{
          country
        }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        <!-- <ion-icon name="message-outline"></ion-icon>  -->
        <img src="../../../../../../assets/icon/forms/idioma.png" alt="" />

        Idioma
      </ion-label>
      <ion-input formControlName="language"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"> Handicap </ion-label>
      <ion-input formControlName="handicap"></ion-input>
    </ion-item>
    <p class="gender-text">¿Cuál es tu género?</p>
    <div class="buttons-containers">
      <ion-row>
        <ion-col class="ion-text-center">
          <button
            class="experience-button"
            [ngClass]="{ isActive: isActive1 }"
            value="1"
            (click)="chooseGender($event)"
          >
            Femenino
          </button>
          <!-- <input type="button" value="Menos de un año" (click)="timePlaying = 1"> -->
        </ion-col>
        <ion-col class="ion-text-center">
          <button
            class="experience-button"
            [ngClass]="{ isActive: isActive2 }"
            value="2"
            (click)="chooseGender($event)"
          >
            Masculino
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <button
            class="experience-button button-large"
            [ngClass]="{ isActive: isActive3 }"
            value="3"
            (click)="chooseGender($event)"
            expand="block"
          >
            Prefiero no decirlo
          </button>
        </ion-col>
      </ion-row>
    </div>
    <ion-item lines="none">
      <ion-label position="floating">¿Cuándo es tu cumpleaños?</ion-label>
      <app-select-date (date)="getDate($event)"></app-select-date>
    </ion-item>

    <p class="gender-text">¿Cuánto tiempo llevas jugando?</p>
    <ion-item lines="none">
      <div class="buttons-containers">
        <ion-row>
          <ion-col class="ion-text-center">
            <button
              class="experience-button"
              [ngClass]="{ isActive: timePlaying1 }"
              value="1"
              (click)="chooseTimePlaying($event)"
            >
              Menos de 1 año
            </button>
            <!-- <input type="button" value="Menos de un año" (click)="timePlaying = 1"> -->
          </ion-col>
          <ion-col class="ion-text-center">
            <button
              class="experience-button"
              [ngClass]="{ isActive: timePlaying2 }"
              value="2"
              (click)="chooseTimePlaying($event)"
            >
              De 3 a 5 años
            </button>
          </ion-col>
        </ion-row>
        <ion-row class="top-10">
          <ion-col class="ion-text-center">
            <button
              class="experience-button"
              [ngClass]="{ isActive: timePlaying3 }"
              value="3"
              (click)="chooseTimePlaying($event)"
            >
              De 5 a 10 años
            </button>
          </ion-col>
          <ion-col class="ion-text-center">
            <button
              class="experience-button"
              [ngClass]="{ isActive: timePlaying4 }"
              value="4"
              (click)="chooseTimePlaying($event)"
            >
              Más de 10 años
            </button>
          </ion-col>
        </ion-row>
      </div>
    </ion-item>
    <p class="gender-text">Eres un jugador...</p>
    <ion-item lines="none">
      <div class="buttons-containers">
        <ion-row>
          <ion-col class="ion-text-center">
            <button
              class=""
              (click)="chooseTypePlayer($event)"
              [ngClass]="{ isActive: type1 }"
              value="1"
            >
              Recurrente
            </button>
            <!-- <input type="button" value="Menos de un año" (click)="timePlaying = 1"> -->
          </ion-col>
          <ion-col class="ion-text-center">
            <button
              class=""
              (click)="chooseTypePlayer($event)"
              [ngClass]="{ isActive: type2 }"
              value="2"
            >
              Ocasional
            </button>
          </ion-col>
          <ion-col class="ion-text-center">
            <button
              class=""
              (click)="chooseTypePlayer($event)"
              [ngClass]="{ isActive: type3 }"
              value="3"
            >
              Diario
            </button>
          </ion-col>
        </ion-row>
        <ion-row class="top-10">
          <ion-col class="ion-text-center">
            <button
              class="experience-button"
              (click)="chooseTypePlayer($event)"
              [ngClass]="{ isActive: type4 }"
              value="4"
              expand="block"
            >
              Profesor/Entrenador de Golf
            </button>
          </ion-col>
        </ion-row>
        <ion-row class="top-10">
          <ion-col class="ion-text-center">
            <button
              class="experience-button"
              (click)="chooseTypePlayer($event)"
              [ngClass]="{ isActive: type5 }"
              value="5"
            >
              Profesional del Circuito de Golf
            </button>
          </ion-col>
        </ion-row>
      </div>
    </ion-item>
  </ion-list>

  <ion-button type="submit" class="next-button" shape="round">
    Guardar Cambios
  </ion-button>
</form>
