ion-content{

  --ion-background-color: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #00388B 100%), url(../../assets/img/golf-course.jpg), 0, 0/100%, 100%, no-repeat;
}

.vertical-align-center > *
{
    height: 100%;
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
     justify-content: center;
}

.align-center{
  text-align: center;
}

.text-center{
  text-align: center;
}

.title-text{
  color: #fff;
  font-weight: 600;
}

.login-btn{
  --background: transparent;
  --border-style: solid;
  --border-width: 1px;
  --border-color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
}

.signup-btn{
  --background: #009DD6;
}
