<ion-content class="vertical-align-center">
  <ion-grid>
    <ion-row>
      <ion-col size-sm="8" offset-sm="2">
        <!--<ion-img class="main-logo" src="assets/img/GolfPeople-logo.png"></ion-img>-->
        <h2 class="title-text text-center">
          Bienvenido a la mejor comunidad de Golf
        </h2>
        <ion-button
          [routerLink]="['/login']"
          shape="round"
          expand="block"
          class="login-btn"
          >INICIA SESIÓN</ion-button
        >
        <ion-button
          [routerLink]="['/signup']"
          shape="round"
          expand="block"
          class="signup-btn"
          >REGISTRARME</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
