<ion-content class="vertical-align-content">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-img class="main-logo" src="assets/img/GolfPeople-logo.png"></ion-img>
          <h2 class="title-text text-center">Bienvenido a la mejor comunidad de golf</h2>
          <ion-button shape="round" expand="block" class="login-btn">INICIA SESIÓN</ion-button>
          <ion-button shape="round" expand="block" class="signup-btn">REGISTRARME</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
