<ion-content>
  <!-- <ion-grid> -->
  <ion-row class="vertical-align-center">
    <div>
      <ion-col size-sm="4" offset-sm="4">
        <div class="card">
          <div>
            <h2 class="card-title">Regístrate</h2>
            <p class="card-text">Ingresa tus credenciales</p>
          </div>
          <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
            <ion-list>
              <ion-item class="">
                <ion-label position="floating" class="signup-form-title"
                  ><ion-icon name="mail"></ion-icon> E-Mail</ion-label
                >
                <ion-input
                  type="email"
                  name="email"
                  formControlName="email"
                  class="input-text"
                ></ion-input>
              </ion-item>
              <div class="error-container">
                <ion-item *ngIf="form.get('email')?.errors?.email" lines="none">
                  <ion-label class="validation-text">Email inválido</ion-label>
                </ion-item>
              </div>

              <ion-item class="">
                <ion-label position="floating" class="signup-form-title"
                  ><ion-icon name="person"></ion-icon>Nombre y
                  Apellido</ion-label
                >
                <ion-input
                  type="text"
                  name="name"
                  formControlName="name"
                ></ion-input>
              </ion-item>
              <div class="error-container">
                <ion-item
                  *ngIf="form.get('name')?.errors && form.get('name').touched"
                  lines="none"
                >
                  <ion-label class="validation-text">Nombre inválido</ion-label>
                </ion-item>
              </div>

              <ion-item class="">
                <ion-label position="floating" class="signup-form-title"
                  ><ion-icon name="person"></ion-icon>Nombre de
                  Usuario</ion-label
                >
                <ion-input
                  type="text"
                  name="name"
                  formControlName="username"
                ></ion-input>
              </ion-item>

              <div class="error-container">
                <ion-item
                  *ngIf="form.get('username')?.errors && form.get('username').touched"
                  lines="none"
                >
                  <ion-label class="validation-text"
                    >El nombre de usuario es obligatorio</ion-label
                  >
                </ion-item>
              </div>

              <ion-item class="">
                <ion-label position="floating" class="signup-form-title"
                  ><ion-icon name="lock-open"></ion-icon> Contraseña</ion-label
                >
                <ion-input
                  [type]="passwordType"
                  name="password"
                  formControlName="password"
                ></ion-input>
                <ion-icon
                  [name]="eye"
                  slot="end"
                  (click)="togglePasswordMode()"
                  class="show-password"
                ></ion-icon>
              </ion-item>
              <div class="error-container-large">
                <ion-item
                  *ngIf="form.get('password')?.touched && form.get('password')?.errors?.pattern"
                  lines="none"
                >
                  <ion-label text-wrap class="validation-text">
                    Contraseña inválida: debe contener al menos 8 caracteres,
                    ser alfanumérica, incluir mayúsculas y minúsculas y al menos
                    un carácter especial (a-z/A-Z/0-9/*$).
                  </ion-label>
                </ion-item>
                <ion-item
                  lines="none"
                  *ngIf="form.get('password')?.errors?.['required'] && form.get('password')?.touched "
                >
                  <ion-label text-wrap class="validation-text"
                    >Este campo es obligatoriol</ion-label
                  >
                </ion-item>
              </div>
              <ion-item class="">
                <ion-label position="floating" class="signup-form-title"
                  ><ion-icon name="lock-open"></ion-icon> Confirmar
                  contraseña</ion-label
                >
                <ion-input
                  [type]="passwordType"
                  name="rePassword"
                  formControlName="password_confirmation"
                ></ion-input>
                <ion-icon
                  [name]="eye"
                  slot="end"
                  (click)="togglePasswordMode()"
                  class="show-password"
                ></ion-icon>
              </ion-item>
              <ion-item
                *ngIf="form.get('password_confirmation')?.errors?.isMatching"
                lines="none"
              >
                <ion-label class="validation-text"
                  >La contraseña de verificación no coincide.</ion-label
                >
              </ion-item>
              <ion-item lines="none">
                <ion-checkbox
                  
                  formControlName="checked"
                ></ion-checkbox>
                <ion-label text-wrap class="checkbox-text signup-form-checkbox"
                  >Acepto los <a href="#">términos y condiciones</a></ion-label
                >
              </ion-item>
            </ion-list>

            <ion-button
              type="submit"
              shape="round"
              expand="block"
              class="signup-btn"
              [disabled]="form.invalid || !checked"
            >
              Continuar
            </ion-button>
          </form>
          <p class="text-center link">
            ¿Ya tienes cuenta? <a [routerLink]="['/login']">Inicia Sesión</a>
          </p>
          <p></p>
        </div>
      </ion-col>
    </div>
  </ion-row>
  <!-- </ion-grid> -->
</ion-content>
