<ion-content>
  <ion-grid>
    <ion-row>
      <div>
      <ion-col size-sm="4" offset-sm="4">
        <h2 class="title-text-pos">REGÍSTRATE</h2>
        <p class="subtitle-text-pos">Ingresa tus credenciales</p>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <ion-list>
          <ion-item>
            <ion-label position="floating" class="signup-form-title"><ion-icon name="mail"></ion-icon> E-Mail</ion-label>
            <ion-input
              type="email"
              ngModel
              name="email"
              required
              email
              #emailCtrl="ngModel"
              class="input-text"
            ></ion-input>
          </ion-item>
          <ion-item
            *ngIf="!emailCtrl.valid && emailCtrl.touched"
            lines="none"
          >
            <ion-label class="validation-text">Email inválido</ion-label>
          </ion-item>
          <ion-item>
            <ion-label position="floating" class="signup-form-title"><ion-icon name="person"></ion-icon>Nombre</ion-label>
            <ion-input
              type="text"
              ngModel
              name="name"
              required
              #nameCtrl="ngModel"
            ></ion-input>
          </ion-item>
          <ion-item
            *ngIf="!nameCtrl.valid && nameCtrl.touched"
            lines="none"
          >
            <ion-label class="validation-text">Nombre inválido</ion-label>
          </ion-item>
          <ion-item>
            <ion-label position="floating" class="signup-form-title" ><ion-icon name="lock-open"></ion-icon> Contraseña</ion-label>
            <ion-input
              [type]="passwordType"
              ngModel
              name="password"
              required
              minlength="8"
              #passwordCtrl="ngModel"
              pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[A-Za-z\d]{8,}"
            ></ion-input>
            <ion-icon [name]="eye" slot="end" (click)="togglePasswordMode()" class="show-password"></ion-icon>
          </ion-item>
          <ion-item
            *ngIf="!passwordCtrl.valid && passwordCtrl.touched"
            lines="none"
          >
            <ion-label text-wrap class="validation-text">
              Contraseña inválida: debe contener al menos 8 caracteres, ser alfanumérica e incluir mayúsculas y minúsculas.
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label position="floating" class="signup-form-title"><ion-icon name="lock-open"></ion-icon> Confirmar contraseña</ion-label>
            <ion-input
              [type]="passwordType"
              ngModel
              name="rePassword"
              required
              #rePasswordCtrl="ngModel"
              minlength = "8"
            ></ion-input>
            <ion-icon [name]="eye" slot="end" (click)="togglePasswordMode()" class="show-password"></ion-icon>
          </ion-item>
          <ion-item
            *ngIf="(passwordCtrl.value !== rePasswordCtrl.value) && passwordCtrl.touched"
            lines="none"
          >
          <ion-label class="validation-text">La contraseña de verificación no coincide.</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-checkbox required></ion-checkbox>
            <ion-label text-wrap class="checkbox-text signup-form-checkbox">Acepto los <a href="#">Términos y condiciones</a></ion-label>
          </ion-item>
        </ion-list>

        <ion-button
          type="submit"
          shape="round"
          expand="block"
          class="signup-btn"
          [disabled]="(!f.valid) || (passwordCtrl.value !== rePasswordCtrl.value)"
        >
          Continuar
        </ion-button>
        </form>
        <p class="text-center link">¿Ya tienes cuenta? <a [routerLink]="['/login']">Inicia Sesión</a><p></p>
      </ion-col>
    </div>
    </ion-row>
  </ion-grid>
</ion-content>
