<app-header-admin [image]="detail && detail.thumbnailImage ? detail.thumbnailImage : 'assets/img/default-img.png'"
  title="{{'ADMIN_PANEL.campus_description' | translate }}"></app-header-admin>
<ion-content *ngIf="detail" class="ion-padding">

  <ion-item lines="none" class="ion-no-padding">
    <ion-label>Información del Club</ion-label>
    <ion-icon slot="end" src="assets/icons/edit-pencil-grey.svg"></ion-icon>

  </ion-item>

  <div class="info-container">
    <ion-textarea [(ngModel)]="detail.information" placeholder="Escribe una reseña..." rows="8" cols="20">
    </ion-textarea>
  </div>
  <div class="ion-text-end">{{detail.information ? detail.information.length : 0}}/4000</div>

  <ion-item lines="none" class="ion-no-padding">
    <ion-label>¿Qué ofreces en tu campo?</ion-label>
  </ion-item>


  <span style="padding-right: 5px;" *ngFor="let c of detail.services">
    <ion-chip (click)="selectFeature(c)" class="ion-padding-horizontal" [color]="c.isCheked ? 'primary' : 'medium'"
      outline="true">
      <ion-label>{{c.name}} <ion-icon *ngIf="c.isCheked" slot="start" name="checkmark"></ion-icon>
      </ion-label>
    </ion-chip>
  </span>

  <ion-item lines="none" class="ion-no-padding">
    <ion-label>Diseñador</ion-label>
  </ion-item>

  <div class="avatar-container">
    <div class="avatar" [ngStyle]="{
        'background-image':
          'url(' + (detail.designer.url ? detail.designer.url : 'assets/img/default-img.png') + ')'
      }">
      <div (click)="addDesignerImage()" class="edit-avatar">
        <ion-icon style="font-size: 15px;" src="../../../../../../../assets/icons/edit-pencil.svg"></ion-icon>
      </div>
    </div>
  </div>

  <div class="ion-padding-vertical">
    <div class="label">
      Nombre del diseñador:
    </div>
    <ion-input type="text" [(ngModel)]="detail.designer.name" class="select-container input-name"
      placeholder="Robert Ford.."></ion-input>
  </div>

  <div class="ion-padding-bottom">
    <div class="label">
      Título del diseñador:
    </div>
    <ion-input type="text" [(ngModel)]="detail.designer.title" class="select-container input-name"
      placeholder="Arquitecto.."></ion-input>
  </div>

  <div class="ion-padding-bottom">
    <div class="label">
      Año en el que fue diseñado:
    </div>
    <ion-input type="tel" maxlength="4" minlength="4" [(ngModel)]="detail.designer.year"
      class="select-container input-name" placeholder="1974"></ion-input>
  </div>

  <ion-item lines="none" class="ion-no-padding">
    <ion-label>Horarios</ion-label>  
  </ion-item>


<div class="ion-padding-vertical">
  <div class="label">Día</div>
  <div class="schedule-container">
    <div>Desde </div>
    <div>
      <ion-select class="select-container input-name ion-padding-start" style="width: 100px;" [(ngModel)]="dayInit" interface="popover" placeholder="Lunes">
        <ion-select-option *ngFor="let d of days">{{d}}</ion-select-option>
      </ion-select>
    </div>
    <div>Hasta</div>
    <div>
      <ion-select class="select-container input-name ion-padding-start" style="width: 100px;" [(ngModel)]="dayEnd" interface="popover" placeholder="Viernes">
        <ion-select-option *ngFor="let d of days">{{d}}</ion-select-option>
      </ion-select>
    </div>
  </div>

  <div class="label">Hora</div>
  <div class="schedule-container">
    <div>Desde </div>
    <div>
      <ion-input class="select-container input-name" [(ngModel)]="hourInit" type="time"></ion-input>
    </div>
    <div>Hasta</div>
    <div>
      <ion-input class="select-container input-name" [(ngModel)]="hourEnd" type="time"></ion-input>
    </div>
  </div>

  <ion-item class="ion-no-padding schedule-value" *ngFor="let s of schedule; index as i">
    <ion-label>{{s.day}} {{s.hour}}hr</ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="removeSchedule(i)">
        <ion-icon color="secondary" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <div style="padding-top: 10px;">
    <ion-button class="ion-no-padding" (click)="newSchedule()" color="secondary" mode="ios" size="small" expand="block">
   <ion-icon name="add"></ion-icon>
  </ion-button> 
  </div>
 
</div>
 

  <div style="padding-top: 35px;" class="ion-text-center">
    <ion-button *ngIf="!loading" [disabled]="!validator()" class="submit-btn" (click)="submit()" mode="ios"
      color="secondary" shape="round">
      {{'ADMIN_PANEL.save_changes' | translate }}
    </ion-button>
    <ion-button *ngIf="loading" class="submit-btn" disabled mode="ios" color="secondary" shape="round">
      <ion-spinner color="light"></ion-spinner>
    </ion-button>
  </div>
</ion-content>


<ion-content class="ion-text-center" *ngIf="!detail">
  <div style="padding-top: 60%;">
    <ion-spinner color="primary"></ion-spinner>
  </div>
</ion-content>