<div class="edit-card">
  <div class="chart-container">
    <!-- <canvas
      baseChart
      [data]="doughnutChartData"
      [type]="doughnutChartType"
      [options]="chartOptions"
    >
    </canvas> -->
  </div>
</div>
<section>
  <h2>Mis Partidas</h2>
  <p>Mejores Puntuaciones</p>

  <ul>
    <li>
      <ion-button>
        <div class="point blue"></div>
        Amistosos
      </ion-button>
    </li>
    <li>
      <ion-button>
        <div class="point red"></div>
        Oficiales
      </ion-button>
    </li>
    <li>
      <ion-button>
        <div class="point green"></div>
        No Oficiales
      </ion-button>
    </li>
  </ul>

  <div class="ranking-cards-list">
    <!-- <app-ranking-card *ngFor="let card of cards"></app-ranking-card> -->
  </div>
</section>
