@import "../../../scss/variables.scss";

ion-content {
  --background: none;
  //   background: linear-gradient(
  //       to bottom,
  //       rgba(0, 56, 139, 0.56) 38%,
  //       $primary-color 81%
  //     ),
  //     url(../../../../assets/img/golf-course.jpg) no-repeat center / cover;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 330px;
  background: linear-gradient(
      to bottom,
      rgba(0, 56, 139, 0.56) 38%,
      $primary-color 81%
    ),
    url(../../../../assets/img/rectangle-2.jpg) no-repeat center / cover;
  .banner-text {
    width: 100%;

    h2 {
      // margin: 20px 14.5px 0;
      font-style: normal;
      font-weight: 700;
      font-size: 3.5rem;
      line-height: 4.9rem;
      margin-top: 2rem;
      /* or 49px */

      text-align: center;
      color: $color-white;
      text-transform: capitalize;
    }

    p {
      width: 297px;
      height: 66px;
      margin: 0 auto;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 121.9%;
      text-align: center;
      // font-variant: small-caps;
      color: $color-white;
      text-transform: uppercase;
    }
  }
  .data-input {
    width: 85%;
    max-width: 317px;
    height: 36px;
    margin: 0 auto;
    background-color: rgba(250, 250, 250, 0.93);
    font-size: 1.3rem;
  }

  a {
    display: flex;
    align-items: center;
    margin: 20px auto;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 20px;
    color: $color-white;
    img {
      width: 17.25px;
    }
  }
}

.main-section {
  position: relative;
  width: 100%;
  height: auto - 75px;
  padding: 27.5px 0;
  top: -30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: $color-white;

  .slides-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 25px;
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      // margin-bottom: 27.5px;

      .slide-text {
        width: 170px;
        font-style: normal;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 2rem;
        color: $text-color;
      }

      .only {
        width: 100%;
        text-align: start;
      }

      .view-map {
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 2rem;
        color: $primary-color;
        img {
          width: 19.17px;
          height: 17.25px;
        }
      }
    }

    .stories-list {
      display: flex;
      overflow-y: auto;
      list-style-type: none;

      li {
        margin: 16px;
      }
    }
  }
}
