<div (click)="goToCourse(course.id)" *ngIf="course" class="card">
  <img src="../../../../assets/img/card-x.jpg" alt="" />
  <div class="overlay">
    <div class="card-header">
      <p>Promocionado</p>
      <a> <img src="../../../../assets/icon/save-post.png" alt="" /> </a>
    </div>

    <div class="card-info">
      <h4>
        <img src="../../../../assets/icon/blue-star.png" alt="" />
        4.6 / 5
      </h4>
      <h3>{{course.courseName ? course.courseName : course.address}}</h3>
      <p>{{course.address ? course.address : ''}}</p>
    </div>
  </div>
</div>

