<!--div class="ion-padding">
  <div *ngFor="let g of filteredTournaments" class="game-container">
    <div class="square">
      <img [src]="g.image" alt="">
    </div>
  <ion-item lines="none" class="ion-no-padding">
    <span [ngClass]="{'canceled': g.status == '3'}" class="date" slot="start">
      <div [ngClass]="{'canceled': g.status == '3'}" class="day">{{g.date | date:'dd'}}</div>
      <div class="month">{{g.date | date:'MMMM' | slice:0:3}}</div>
    </span>
    <ion-label class="ion-text-wrap">
      <div [ngClass]="{'canceled': g.status == '3'}" class="club-name">{{g.name}}</div>
      <div [ngClass]="{'canceled': g.status == '3'}" class="location">{{g.address}}</div>
    </ion-label>
    <span *ngIf="g.status == '1'" slot="end"-->
      <!--ion-icon class="item-icon" (click)="g.fav = !g.fav" [color]="g.fav ? 'danger' :'medium'"
        [name]="g.fav ? 'heart' : 'heart-outline'"></ion-icon-->
      <!--ion-icon class="item-icon" color="medium" name="share-social-outline"></ion-icon>
    </span>
  </ion-item> 
  <ion-item> 
  <ion-buttons slot="start">
    <ion-button *ngIf="!toggleUserGames$.value" routerLink="/tabs/play/reservation-tournament/{{g.id}}" class="join-btn" color="secondary"
    shape="round" fill="solid"> 
   <span class="ion-padding-horizontal">Reservar</span> 
  </ion-button>
  </ion-buttons> 
  <ion-buttons slot="start">
    <ion-button *ngIf="toggleUserGames$.value" routerLink="/tabs/play/reservation-detail/{{g.id}}" class="join-btn" color="secondary"
    shape="round" fill="solid"> 
   <span class="ion-padding-horizontal">Ver reserva</span> 
  </ion-button>
  </ion-buttons>  
  </ion-item>
  </div>
</div-->

<div style="padding-top: 0;" class="ion-padding">
  <div *ngIf="upcoming()" class="label">Torneos Próximos</div>
  <div *ngFor="let g of filteredTournaments">
    <div *ngIf="g.status == '1' && (g.players && g.players.length)" class="game-container">
      <div class="square">
        <img [src]="g.image" alt="">
      </div>
    <ion-item lines="none" class="ion-no-padding">
      <span [ngClass]="{'canceled': g.status == '3'}" class="date" slot="start">
        <div [ngClass]="{'canceled': g.status == '3'}" class="day">{{g.date | date:'dd'}}</div>
        <div class="month">{{g.date | date:'MMMM' | slice:0:3}}</div>
      </span>
      <ion-label class="ion-text-wrap">
        <div [ngClass]="{'canceled': g.status == '3'}" class="club-name">{{g.name}}</div>
        <div [ngClass]="{'canceled': g.status == '3'}" class="location">{{g.address}}</div>
      </ion-label>
      <span *ngIf="g.status == '1'" slot="end">
        <!--ion-icon class="item-icon" (click)="g.fav = !g.fav" [color]="g.fav ? 'danger' :'medium'"
          [name]="g.fav ? 'heart' : 'heart-outline'"></ion-icon-->
        <ion-icon class="item-icon" color="medium" name="share-social-outline"></ion-icon>
      </span>
    </ion-item> 
    <ion-item lines="none" style="padding-top: 10px;" class="ion-no-padding">
     

      <!--================Torneos en pendiente que no son del usuario================-->
    
      <!--ion-buttons *ngIf="!toggleUserGames$.value && g.status == '1' && !g.pending && !g.isInvited" slot="end">   
        <ion-button *ngIf="!toggleUserGames$.value" routerLink="/tabs/play/reservation-tournament/{{g.id}}" class="btn-group" fill="solid" size="small" shape="round" color="success"
          >
          <span>Ver Torneo 1</span>
        </ion-button>
      </ion-buttons-->


      <!--================Si el usuario fue invitado a la torneo================-->
      <ion-buttons *ngIf="!toggleUserGames$.value && g.isInvited" slot="end">    
          <ion-button style="width: 90px;" routerLink="/tabs/play/reservation-detail/{{g.id}}" fill="solid" size="small" shape="round" color="success">
            Ver reserva
          </ion-button>
      </ion-buttons>
      <!--================Si la torneo fue anulada y es del usuario================-->
      <ion-buttons *ngIf="toggleUserGames$.value && g.status == '3' && g.isInvited==true" slot="end">
        <ion-button style="width: 120px;" class="btn-group" (click)="confirmRestore(g.id)" fill="solid" size="small"
          mode="ios" shape="round" color="secondary">
          Restaurar Torneo
        </ion-button> <br>
        <ion-button  *ngIf="g.isInvited==true" (click)="confirmRemove(g.id)" class="btn-group" color="medium" fill="clear" size="small">
          <ion-icon slot="start" name="remove-circle-outline"></ion-icon>
          Eliminar
        </ion-button>
      </ion-buttons>

      <!--================Si la torneo finalizó y es del usuario================-->
      <span class="ion-text-center" *ngIf="toggleUserGames$.value && (g.status == '2' || g.status == '4')" slot="end">
        <div>
          <ion-button *ngIf="g.status == '2'" routerLink="score-card-tournament/{{g.id}}" class="join-btn" mode="ios"
            color="secondary" shape="round" fill="solid">
            Ver Resultados
          </ion-button>
          <ion-button *ngIf="g.status == '4'" routerLink="validate-score-card-tournament/{{g.id}}" class="join-btn" mode="ios"
            color="secondary" shape="round" fill="solid">
            Ver Resultados
          </ion-button>
        </div>
        <ion-button *ngIf="g.isInvited==true" (click)="confirmRemove(g.id)" class="btn-group" color="medium" fill="clear" size="small">
          <ion-icon slot="start" name="remove-circle-outline"></ion-icon>
          Eliminar
        </ion-button>
      </span>
      <ion-buttons slot="start">
        <ion-button *ngIf="!toggleUserGames$.value" routerLink="/tabs/play/reservation-tournament/{{g.id}}" class="btn-group" fill="solid" size="small" shape="round" color="secondary"
          >
          <span>Reservar</span>
        </ion-button>
        <!--ion-button *ngIf="toggleUserGames$.value" class="btn-group" fill="solid" size="small"
          shape="round" color="success">
          <span>Ver reserva</span>
        </ion-button-->
      
      </ion-buttons>
    </ion-item> 





    
      <div [ngClass]="{'less-pb': toggleUserGames$.value}" class="players-length">Jugadores: {{g.players.length}}</div>


      <!--================Si la torneo está en pendiente y es del usuario================-->

      <ion-item style="padding-bottom: 10px;" lines="none" *ngIf="toggleUserGames$.value && g.status == '1'"
        class="ion-no-padding">
        <ion-buttons>
          
          <ion-button class="btn-group" routerLink="/tabs/play/reservation-detail/{{g.id}}" fill="solid" size="small"
           shape="round" color="success">
           <span>Ver reserva</span>
          </ion-button>
          <ion-button *ngIf="g.isInvited==true" routerLink="/tabs/play/start-tournament/{{g.id}}" class="btn-group" fill="solid" size="small"
            shape="round" color="secondary">
            <span>Iniciar Torneo</span>
          </ion-button>
          <ion-button *ngIf="g.isInvited==true" (click)="confirmCancel(g.id)" class="btn-group" color="medium" size="small">
            <ion-icon slot="start" name="remove-circle-outline"></ion-icon>
            Anular
          </ion-button>
        </ion-buttons>
      </ion-item>
      <!--===========================================================================-->


    </div>
  </div>


  <div *ngIf="inProcess()" class="label">Torneos en proceso</div>
  <div *ngFor="let g of filteredTournaments">
    <div *ngIf="g.status == '2' && (g.players && g.players.length)" class="game-container">
      <ion-item lines="none" class="ion-no-padding">
        <span [ngClass]="{'canceled': g.status == '3','finalized': g.status == '4'}" class="date" slot="start">
          <div [ngClass]="{'canceled': g.status == '3','finalized': g.status == '4'}" class="day">{{g.date | date:'dd'}}
          </div>
          <div class="month">{{g.date | date:'MMMM' | slice:0:3}}</div>
        </span>
        <ion-label class="ion-text-wrap">
          <div [ngClass]="{'canceled': g.status == '3','finalized': g.status == '4'}" class="club-name">{{g.name}}</div>
          <div [ngClass]="{'canceled': g.status == '3','finalized': g.status == '4'}" class="location">{{g.address}}
          </div>
        </ion-label>
        <span *ngIf="g.status == '1'" slot="end">
          <!--ion-icon class="item-icon" (click)="g.fav = !g.fav" [color]="g.fav ? 'danger' :'medium'"
            [name]="g.fav ? 'heart' : 'heart-outline'"></ion-icon-->
          <ion-icon (click)="share(g.id)" class="item-icon" color="medium" name="share-social-outline"></ion-icon>
        </span>
      </ion-item>

      <ion-item lines="none" style="padding-top: 10px;" class="ion-no-padding">
        <div class="avatar-group">
          <div [ngClass]="{'canceled': g.status == '3','finalized': g.status == '4'}"
            *ngFor="let u of g.players; index as i " class="avatar">
            <img [ngClass]="{'canceled': g.status == '3','finalized': g.status == '4'}"
              [src]="u.user.profile.photo ? u.user.profile.photo : avatar" />
          </div>
        </div>

        <!--================Torneos en pendiente que no son del usuario================-->
        <ion-buttons *ngIf="!toggleUserGames$.value && g.status == '1' && !g.pending && !g.isInvited" slot="end">
          <ion-button (click)="openGameDetail(g.id)" class="join-btn" color="secondary" shape="round" fill="solid">
            Solicitar unirme
          </ion-button>
        </ion-buttons>


        <!--================Si el usuario fue invitado a la torneo================-->
        <!--span class="ion-text-center" *ngIf="!toggleUserGames$.value && g.isInvited" slot="end">
          <div style="font-size: 12px;font-weight: 600;color: var(--ion-color-medium);padding-bottom: 5px;">¡Has sido
            invitado <br> a esta torneo!</div>
          <div>
            <ion-button style="width: 90px;" (click)="acceptGameRequest(g)" class="join-btn" mode="ios"
              color="secondary" shape="round" fill="solid">
              Unirme
            </ion-button>
          </div>
          <ion-button style="width: 90px;" (click)="declineGameRequest(g)" class="btn-group" color="medium"
            shape="round" size="small" mode="ios">
            Rechazar
          </ion-button>
        </span-->


        <!--================Si la torneo finalizó y es del usuario================-->
        <span class="ion-text-center" *ngIf="toggleUserGames$.value && (g.status == '2' || g.status == '4')" slot="end">
          <div *ngIf="g.noColor">
            <ion-button *ngIf="g.status == '2' && !g.validate" routerLink="/tabs/play/reservation-detail/{{g.id}}" class="join-btn"
              mode="ios" color="secondary" shape="round" fill="solid">
              Ver Reserva
            </ion-button>
            <ion-button *ngIf="g.status == '4' || g.validate" routerLink="validate-score-card-tournament/{{g.id}}" class="join-btn"
              mode="ios" color="secondary" shape="round" fill="solid">
              Ver Resultados
            </ion-button>
          </div>
          <div *ngIf="!g.noColor">
            <ion-button *ngIf="g.status == '2'" routerLink="/tabs/play/start-tournament/{{g.id}}" class="join-btn" mode="ios"
              color="success" shape="round" fill="solid">
              Iniciar Torneo
            </ion-button>
            <ion-button *ngIf="g.status == '4'" routerLink="validate-score-card-tournament/{{g.id}}" class="join-btn" mode="ios"
              color="secondary" shape="round" fill="solid">
              Ver Resultados
            </ion-button>
          </div> 
            
          <ion-button *ngIf="g.status == '4' && g.isInvited==true" (click)="confirmRemove(g.id)" class="btn-group" color="medium"
            fill="clear" size="small">
            <ion-icon slot="start" name="remove-circle-outline"></ion-icon>
            Eliminar
          </ion-button>
        </span>
      </ion-item>
      <div [ngClass]="{'less-pb': toggleUserGames$.value}" class="players-length">Jugadores: {{g.players.length}}</div>

    </div>
  </div>

  <div *ngIf="played()" class="label">Torneos Jugados</div>
  <div *ngFor="let g of filteredTournaments">
    <div *ngIf="g.status == '4' && (g.players && g.players.length)" class="game-container">
      <ion-item lines="none" class="ion-no-padding">
        <span [ngClass]="{'canceled': g.status == '3','finalized': g.status == '4'}" class="date" slot="start">
          <div [ngClass]="{'canceled': g.status == '3','finalized': g.status == '4'}" class="day">{{g.date |
            date:'dd'}}</div>
          <div class="month">{{g.date | date:'MMMM' | slice:0:3}}</div>
        </span>
        <ion-label class="ion-text-wrap">
          <div [ngClass]="{'canceled': g.status == '3','finalized': g.status == '4'}" class="club-name">{{g.name}}
          </div>
          <div [ngClass]="{'canceled': g.status == '3','finalized': g.status == '4'}" class="location">{{g.address}}
          </div>
        </ion-label>
        <span *ngIf="g.status == '1'" slot="end">
          <!--ion-icon class="item-icon" (click)="g.fav = !g.fav" [color]="g.fav ? 'danger' :'medium'"
            [name]="g.fav ? 'heart' : 'heart-outline'"></ion-icon-->
          <ion-icon (click)="share(g.id)" class="item-icon" color="medium" name="share-social-outline"></ion-icon>
        </span>
      </ion-item>

      <ion-item lines="none" style="padding-top: 10px;" class="ion-no-padding">
        <div class="avatar-group">
          <div [ngClass]="{'canceled': g.status == '3','finalized': g.status == '4'}"
            *ngFor="let u of g.players; index as i " class="avatar">
            <img [ngClass]="{'canceled': g.status == '3','finalized': g.status == '4'}"
              [src]="u.user.profile.photo ? u.user.profile.photo : avatar" />
          </div>
        </div>

        <!--================Torneos en pendiente que no son del usuario================-->
        <ion-buttons *ngIf="!toggleUserGames$.value && g.status == '1' && !g.pending && !g.isInvited" slot="end">
          <ion-button (click)="openGameDetail(g.id)" class="join-btn" color="secondary" shape="round" fill="solid">
            Solicitar unirme
          </ion-button>
        </ion-buttons>


        <!--================Si el usuario fue invitado a la torneo================-->
        <!--span class="ion-text-center" *ngIf="!toggleUserGames$.value && g.isInvited" slot="end">
          <div style="font-size: 12px;font-weight: 600;color: var(--ion-color-medium);padding-bottom: 5px;">¡Has sido
            invitado <br> a esta torneo!</div>
          <div>
            <ion-button style="width: 90px;" (click)="acceptGameRequest(g)" class="join-btn" mode="ios"
              color="secondary" shape="round" fill="solid">
              Unirme
            </ion-button>
          </div>
          <ion-button style="width: 90px;" (click)="declineGameRequest(g)" class="btn-group" color="medium"
            shape="round" size="small" mode="ios">
            Rechazar
          </ion-button>
        </span-->

        <!--================Torneos en pendiente que no son del usuario================-->
        <ion-buttons *ngIf="!toggleUserGames$.value && g.status == '1' && g.pending" slot="end">
          <ion-button (click)="openGameDetail(g.id)" class="join-btn" color="medium" shape="round" fill="solid">
            Pendiente...
          </ion-button>
        </ion-buttons>

        <!--================Si la torneo fue anulada y es del usuario================-->
        <span class="ion-text-center" *ngIf="toggleUserGames$.value && g.status == '3' && g.isInvited==true" slot="end">
          <ion-button style="width: 120px;" class="btn-group" (click)="confirmRestore(g.id)" fill="solid" size="small"
            mode="ios" shape="round" color="secondary">
            Restaurar Torneo
          </ion-button> <br>
          <ion-button *ngIf="g.isInvited==true" (click)="confirmRemove(g.id)" class="btn-group" color="medium" fill="clear" size="small">
            <ion-icon slot="start" name="remove-circle-outline"></ion-icon>
            Eliminar
          </ion-button>
        </span>

        <!--================Si la torneo finalizó y es del usuario================-->
        <span class="ion-text-center" *ngIf="toggleUserGames$.value && (g.status == '2' || g.status == '4')" slot="end">
          <div>
            <div>
              <ion-button style="width: 139px;" *ngIf="g.status == '4' && !g.validate"
              routerLink="/tabs/play/game-finished-success/{{g.campuses_id}}/{{g.id}}" class="join-btn" mode="ios"
              color="success" shape="round" fill="solid">
              Calificar
            </ion-button>
            </div>
            
            <ion-button *ngIf="g.status == '2'" routerLink="score-card-tournament/{{g.id}}" class="join-btn" mode="ios"
              color="secondary" shape="round" fill="solid">
              Ver Resultados
            </ion-button>
            <ion-button *ngIf="g.status == '4'" routerLink="validate-score-card-tournament/{{g.id}}" class="join-btn" mode="ios"
              color="secondary" shape="round" fill="solid">
              Ver Resultados
            </ion-button>
          </div>
          <ion-button *ngIf="g.isInvited==true" (click)="confirmRemove(g.id)" class="btn-group" color="medium" fill="clear" size="small">
            <ion-icon slot="start" name="remove-circle-outline"></ion-icon>
            Eliminar
          </ion-button>
        </span>
      </ion-item>
      <div [ngClass]="{'less-pb': toggleUserGames$.value}" class="players-length">Jugadores: {{g.players.length}}</div>


      <!--================Si la torneo está en pendiente y es del usuario================-->

      <ion-item style="padding-bottom: 10px;" lines="none" *ngIf="toggleUserGames$.value && g.status == '1'"
        class="ion-no-padding">
        <ion-buttons>
          <ion-button class="btn-group" fill="solid" size="small" shape="round" color="secondary"
          routerLink="/tabs/play/reservation-detail/{{g.id}}">
            <span>Ver reserva</span>
          </ion-button>
          <ion-button *ngIf="g.isInvited==true" routerLink="/tabs/play/start-tournament/{{g.id}}" class="btn-group" fill="solid" size="small"
            shape="round" color="success">
            <span>Iniciar Torneo</span>
          </ion-button>
          <ion-button *ngIf="g.isInvited==true" (click)="confirmCancel(g.id)" class="btn-group" color="medium" size="small">
            <ion-icon slot="start" name="remove-circle-outline"></ion-icon>
            Anular
          </ion-button>
        </ion-buttons>
      </ion-item>
      <!--===========================================================================-->


    </div>
  </div>

  <div *ngIf="canceled()" class="label">Torneos Anulados</div>
  <div *ngFor="let g of filteredTournaments">
    <div *ngIf="g.status == '3' && (g.players && g.players.length)" class="game-container">
      <ion-item lines="none" class="ion-no-padding">
        <span [ngClass]="{'canceled': g.status == '3','finalized': g.status == '4'}" class="date" slot="start">
          <div [ngClass]="{'canceled': g.status == '3','finalized': g.status == '4'}" class="day">{{g.date |
            date:'dd'}}</div>
          <div class="month">{{g.date | date:'MMMM' | slice:0:3}}</div>
        </span>
        <ion-label class="ion-text-wrap">
          <div [ngClass]="{'canceled': g.status == '3','finalized': g.status == '4'}" class="club-name">{{g.name}}
          </div>
          <div [ngClass]="{'canceled': g.status == '3','finalized': g.status == '4'}" class="location">{{g.address}}
          </div>
        </ion-label>
        <span *ngIf="g.status == '1'" slot="end">
          <!--ion-icon class="item-icon" (click)="g.fav = !g.fav" [color]="g.fav ? 'danger' :'medium'"
            [name]="g.fav ? 'heart' : 'heart-outline'"></ion-icon-->
          <ion-icon (click)="share(g.id)" class="item-icon" color="medium" name="share-social-outline"></ion-icon>
        </span>
      </ion-item>

      <ion-item lines="none" style="padding-top: 10px;" class="ion-no-padding">
        <div class="avatar-group">
          <div [ngClass]="{'canceled': g.status == '3','finalized': g.status == '4'}"
            *ngFor="let u of g.players; index as i " class="avatar">
            <img [ngClass]="{'canceled': g.status == '3','finalized': g.status == '4'}"
              [src]="u.user.profile.photo ? u.user.profile.photo : avatar" />
          </div>
        </div>

        <!--================Torneos en pendiente que no son del usuario================-->
        <ion-buttons *ngIf="!toggleUserGames$.value && g.status == '1' && !g.pending && !g.isInvited" slot="end">
          <ion-button (click)="openGameDetail(g.id)" class="join-btn" color="secondary" shape="round" fill="solid">
            Solicitar unirme
          </ion-button>
        </ion-buttons>


        <!--================Si el usuario fue invitado a el torneo================-->
        <!--span class="ion-text-center" *ngIf="!toggleUserGames$.value && g.isInvited" slot="end">
          <div style="font-size: 12px;font-weight: 600;color: var(--ion-color-medium);padding-bottom: 5px;">¡Has sido
            invitado <br> a esta torneo!</div>
          <div>
            <ion-button style="width: 90px;" (click)="acceptGameRequest(g)" class="join-btn" mode="ios"
              color="secondary" shape="round" fill="solid">
              Unirme
            </ion-button>
          </div>
          <ion-button style="width: 90px;" (click)="declineGameRequest(g)" class="btn-group" color="medium"
            shape="round" size="small" mode="ios">
            Rechazar
          </ion-button>
        </span-->

        <!--================Torneos en pendiente que no son del usuario================-->
        <ion-buttons *ngIf="!toggleUserGames$.value && g.status == '1' && g.pending" slot="end">
          <ion-button (click)="openGameDetail(g.id)" class="join-btn" color="medium" shape="round" fill="solid">
            Pendiente...
          </ion-button>
        </ion-buttons>

        <!--================Si la torneo fue anulada y es del usuario================-->
        <span class="ion-text-center" *ngIf="toggleUserGames$.value && g.status == '3' && g.isInvited==true" slot="end">
          <ion-button style="width: 120px;" class="btn-group" (click)="confirmRestore(g.id)" fill="solid" size="small"
            mode="ios" shape="round" color="secondary">
            Restaurar Torneo
          </ion-button> <br>
          <ion-button *ngIf="g.isInvited==true" (click)="confirmRemove(g.id)" class="btn-group" color="medium" fill="clear" size="small">
            <ion-icon slot="start" name="remove-circle-outline"></ion-icon>
            Eliminar
          </ion-button>
        </span>

        <!--================Si la torneo finalizó y es del usuario================-->
        <span class="ion-text-center" *ngIf="toggleUserGames$.value && (g.status == '2' || g.status == '4')" slot="end">
          <div>
            <ion-button *ngIf="g.status == '2'" routerLink="score-card-tournament/{{g.id}}" class="join-btn" mode="ios"
              color="secondary" shape="round" fill="solid">
              Ver Resultados
            </ion-button>
            <ion-button *ngIf="g.status == '4'" routerLink="validate-score-card-tournament/{{g.id}}" class="join-btn" mode="ios"
              color="secondary" shape="round" fill="solid">
              Ver Resultados
            </ion-button>
          </div>
          <ion-button *ngIf="g.isInvited==true" (click)="confirmRemove(g.id)" class="btn-group" color="medium" fill="clear" size="small">
            <ion-icon slot="start" name="remove-circle-outline"></ion-icon>
            Eliminar
          </ion-button>
        </span>
      </ion-item>
      <div [ngClass]="{'less-pb': toggleUserGames$.value}" class="players-length">Jugadores: {{g.players.length}}</div>


      <!--================Si la torneo está en pendiente y es del usuario================-->

      <ion-item style="padding-bottom: 10px;" lines="none" *ngIf="toggleUserGames$.value && g.status == '1'"
        class="ion-no-padding">
        <ion-buttons>
          <ion-button class="btn-group" fill="solid" size="small" shape="round" color="secondary"
          routerLink="/tabs/play/reservation-detail/{{g.id}}">
            <span>Ver reserva</span>
          </ion-button>
          <ion-button *ngIf="g.isInvited==true" routerLink="/tabs/play/start-tournament/{{g.id}}" class="btn-group" fill="solid" size="small"
            shape="round" color="success">
            <span>Iniciar Torneo</span>
          </ion-button>
          <ion-button *ngIf="g.isInvited==true" (click)="confirmCancel(g.id)" class="btn-group" color="medium" size="small">
            <ion-icon slot="start" name="remove-circle-outline"></ion-icon>
            Anular
          </ion-button>
        </ion-buttons>
      </ion-item>
      <!--===========================================================================-->


    </div>
  </div>
</div>