.content{
    font-size: 14px;
    font-weight: 500;
}

.rating-number{
    font-size: 50px;
    font-weight: 600;

    ion-icon{
        position: relative;
        top: 3px;
    }
}

.stars{
    font-size: 25px;
}

.range{
    --bar-height: 8px;
    --knob-size: 0px;
    --bar-background: #dddddd;
    --bar-background-active: var(--ion-color-success);

    &.medium{
        --bar-background-active: var(--ion-color-warning); 
    }
    &.low{
        --bar-background-active: var(--ion-color-danger); 
    }
}

ion-row{
    height: 30px;
}

.review-label{
    font-size: 16px;
    font-weight: 600;
}

.comment-container{
    padding-bottom: 15px;
}

ion-avatar{
    width: 70px;
    height: 70px;
}

.username{
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
}

.role{
    font-size: 13px;
    font-weight: 500;
    color: gray;
}

.comment{
    padding-top: 5px;
    font-size: 13px;
    color: gray;  
    text-align: start;
}

.no-comments{
    padding-top: 15%;
    text-align: center;
    color: var(--ion-color-medium);
  }
  .no-comments ion-icon{
   font-size: 100px;
  }

.level{
    font-size: 12px;
}

.date{
    padding-top: 20px;
    padding-bottom: 10px;
    color: rgb(163, 163, 163);
    font-size: 11px;
    border-bottom: 1px solid #ddd;
    text-align: start;

    &.p-top{
        padding-top: 50px;  
    }
}

.square {
    width: 80px;
    height: 80px;
    background: transparent;
    overflow: hidden;
    position: relative;
    display: inline-block;
    border-radius: 10px;
  }
  
  .square img {
    width: 100%;
    height: auto;
  }
  
  @supports(object-fit: cover) {
    .square img {
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }
