  <ion-list>
    <p class="input-text">Mis Clubs Asociados</p>
    <ion-item lines="none">
      <!-- <ion-label position="floating">¿Cuándo es tu cumpleaños?</ion-label> -->
      <div class="square">
      <img src="assets/img/golf-clubs.png">
      </div>
      <div class="start-init">
        <img src="assets/img/staryellow.svg">
        <h4 class="price-init">8,36</h4>
      </div>
      <div class="center ion-padding-vertical">
        <div class="havent-play">
          <img src="assets/img/star.svg">
          Socio desde Feb. 2019
        </div> 
      </div>
    </ion-item>
    <ion-item lines="none"> 
        <div class="container">
          <div class="info">
            <h3 class="title-principal">Real Club Valderrama</h3>
            <h4 class="subtitle">Av. los Cortijos, s/n, 
              11310 Sotogrande, Cádiz</h4>
          </div> 
        </div>
    </ion-item>
    <ion-item lines="none">
      <ion-button type="submit" class="button" shape="round">
        Enviar Mensaje
      </ion-button>
    </ion-item>
    <ion-item lines="none"> 
      <ion-buttons class="ion-padding" slot="start">
          <ion-icon slot="start" size="large" name="add-circle-outline"></ion-icon>
          <span>Agregar Club</span> 
      </ion-buttons>
    </ion-item>
    <ion-item lines="none"> 
    </ion-item>
  </ion-list>
