<!-- <ion-modal>
  <ng-template>
    <ion-content>
      <ion-button expand="full" (click)="(leaveModal)">Salir</ion-button>
      <ngx-qrcode
        [elementType]="elementType"
        [errorCorrectionLevel]="correctionLevel"
        [value]="value"
      ></ngx-qrcode>
    </ion-content>
  </ng-template>
</ion-modal> -->

<!-- <ion-content>
  <ion-button (click)="leaveModal()">Cerrar</ion-button>
</ion-content> -->

<!-- Default -->
<!-- <ion-modal [isOpen]="true">
  <ng-template>
    <ion-content>Modal Content</ion-content>
  </ng-template>
</ion-modal> -->

<ion-header collapse="fade">
  <ion-toolbar>
    <ion-title>Código QR</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" shape="round" (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
        Cerrar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="qr-container">
    <ngx-qrcode
      cssClass="qr-code"
      [elementType]="elementType"
      [errorCorrectionLevel]="correctionLevel"
      [value]="value"
      [width]="220"
    ></ngx-qrcode>
  </div>
</ion-content>
