<ion-toolbar color="primary">
  <ion-icon color="success" name="checkmark-circle-outline"></ion-icon>
  <h1>¡Solicitud Enviada!</h1>
</ion-toolbar>

<ion-content class="ion-text-center">

  <div class="center-all">

    <p>Te llegará una respuesta en tu bandeja de mensajes con la confirmación de tu solicitud.</p>

    <ion-button routerLink="/tabs/play" color="secondary" mode="ios" shape="round">
     <span style="padding-left: 10px;padding-right: 10px;">Ir a mis partidas</span> 
    </ion-button>
  </div>
</ion-content>