ion-content{
    --background: white;
}

ion-toolbar {
    padding: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center;

    ion-icon {
        font-size: 50px; 
        padding-bottom: 0;     
    }

    h1{       
        margin-top: 5px;
    }
}

.center-all{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 45%;
    left: 50%;
    width: 70%;
}

p{
    padding-bottom: 20px;
    font-size: 15px;
}

ion-button{
    font-size: 13px;
    text-transform: uppercase;
}