<ion-content>
  <app-header no img="assets/icons/admin-panel.svg" text="admin panel">
  </app-header>
  <div class="banner">
    <img src="assets/img/admin-avatar.svg" />
    <h3>DESCRICIÓN DEL CAMPO</h3>
  </div>
  <section class="ion-padding section-1">
    <div class="section_title">
      <h3>Información del Club</h3>
      <img src="assets/icons/edit-pencil-grey.svg" alt="" />
    </div>
    <div class="ion-padding description">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, dolorem
        veniam incidunt, itaque nobis voluptatibus quo nesciunt iusto
        consequatur suscipit consectetur odio magnam. Tenetur, dolores. Ullam
        quos sunt quibusdam ea.
      </p>
    </div>

    <div class="section_title">
      <h3>¿Qué ofreces en tu campo?</h3>
    </div>

    <div class="option-buttons">
      <button
        class="option-button"
        *ngFor="let btn of optionButtons"
        [ngClass]="{selected: btn.selected}"
      >
        {{btn.text}}
      </button>
    </div>
  </section>
</ion-content>
