<ion-header class="ion-text-center">
  <ion-toolbar>
    <ion-title>
      <h2>
        <img src="../../../../assets/icon/create-post.png" alt="" /> editar
        publicacion
      </h2>
    </ion-title>
    <ion-buttons slot="start">
      <ion-button color="primary" shape="round" (click)="closeModal()">
        <img src="../../../../assets/icon/back-link.png" alt="" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <div class="footer">
      <p class="text">Escribe un pie para tu foto</p>
      <ion-textarea
        type="text"
        inputmode="text"
        [maxlength]="2000"
        class="text"
        [formControl]="textArea"
        (ngModelChange)="descriptionValue()"
      >
      </ion-textarea>
    </div>

    <form>
      <ion-list>
        <ion-item class="ion-align-items-center">
          <ion-label position="floating">
            <p>Agregar hashtags</p>
          </ion-label>
          <ion-input
            type="text"
            placeholder="Hashtags"
            (ionChange)="hashtag($event)"
            [formControl]="hashtagsInput"
          >
          </ion-input>
          <ion-button
            [disabled]="!hashtagsInput.value"
            slot="end"
            color="primary"
            (click)="addHashtags()"
          >
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-row>
          <ion-col *ngFor="let hashtag of hashtags" size="4">
            <div class="hashtags">
              <p>#{{ hashtag }}</p>
              <a (click)="removeHashtag(hashtag)">X</a>
            </div>
          </ion-col>
        </ion-row>
        <ion-item>
          <ion-label position="floating">
            <img class="tag" src="../../../../assets/icon/tag.png" alt="" />
            Etiqueta a tus amigos
          </ion-label>
          <ion-input></ion-input>
        </ion-item>

        <p class="card-text text-center">¿Dónde vives?</p>
        <div class="data-input">
          <img class="geo" src="../../../assets/icon/geolocation.png" alt="" />
          <input
            type="text"
            name="license"
            placeholder=" Ubicación Actual"
            (ngModel)="(userAddress)"
            [formControl]="address"
            ngx-google-places-autocomplete
            (onAddressChange)="handleAddressChange($event)"
          />
        </div>
        <br />
      </ion-list>
      <ion-button
        (click)="edit(textArea.value, address.value, blobArrayData)"
        type="submit"
        class="next-button"
        shape="round"
      >
        PUBLICAR
      </ion-button>
    </form>
    <!-- </div> -->
  </ion-row>
</ion-content>
