<ion-header class="ion-text-center">
  <ion-toolbar>
    <ion-title>
      <h2>
        <img src="../../../../assets/icon/create-post.png" alt="" /> editar
        publicacion
      </h2>
    </ion-title>
    <ion-buttons slot="start">
      <ion-button color="primary" shape="round" (click)="closeModal()">
        <img src="../../../../assets/icon/back-link.png" alt="" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <div class="footer">
      <p class="text">Añade un comentario a tu publicaión</p>
      <ion-textarea
        type="text"
        inputmode="text"
        [maxlength]="2000"
        class="text"
        [formControl]="textArea"
        placeholder="Escribe algo..."
      >
      </ion-textarea>
    </div>

    <form>
      <ion-list>
        <ion-item class="ion-align-items-center hashtags-input">
          <ion-label position="floating"> Agregar hashtags </ion-label>
          <ion-input
            type="text"
            placeholder="Hashtags"
            (ionChange)="hashtag($event)"
            [formControl]="hashtagsInput"
          >
          </ion-input>
          <ion-button class="hashtag-button" slot="end" (click)="addHashtags()">
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-row class="tags-row" *ngIf="hashtags.length">
          <div *ngFor="let hashtag of hashtags" class="hashtags">
            <p>#{{ hashtag }}</p>
            <a (click)="removeHashtag(hashtag)">X</a>
          </div>
        </ion-row>
        <ion-item class="tags-input">
          <ion-label position="floating">
            <img class="geo" src="../../../../assets/icon/tag.png" alt="" />
            Etiqueta a tus amigos
          </ion-label>
          <ion-input
            type="text"
            placeholder="Etiqueta a tus amigos"
            (ngModelChange)="tag($event)"
            [formControl]="tagsInput"
          ></ion-input>
        </ion-item>

        <ion-list class="ion-no-padding" lines="none">
          <ion-item
            (click)="addTag(user.name, user.profile.user_id)"
            *ngFor="let user of users$ | async"
          >
            <ion-avatar class="ion-margin-end" slot="start">
              <img [src]="user.profile.photo || imageAvatarDefault" />
            </ion-avatar>
            <ion-label>{{ user.name }}</ion-label>
          </ion-item>
        </ion-list>
        <ion-row class="tags-row" *ngIf="tags.length">
          <div *ngFor="let tag of tags" class="hashtags">
            <p>@{{ tag }}</p>
            <a (click)="removeTag(tag)">X</a>
          </div>
        </ion-row>

        <ion-item lines="none">
          <ion-label>
            <img src="../../../../assets/icon/geolocation.svg" alt="" />
          </ion-label>

          <input
            class="addressInput"
            type="text"
            placeholder=" Ubicación"
            [(ngModel)]="userAddress"
            name="location"
            ngx-google-places-autocomplete
            (onAddressChange)="handleAddressChange($event)"
          />
        </ion-item>
        <br />
      </ion-list>
      <ion-button
        (click)="edit(textArea.value, address.value, blobArrayData)"
        type="submit"
        class="next-button"
        shape="round"
      >
        PUBLICAR
      </ion-button>
    </form>
    <!-- </div> -->
  </ion-row>
</ion-content>
