/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "./app/scss/variables.scss";
@import "./theme/variables.scss";

@font-face {
  font-family: "Montserrat"; //This is what we are going to call
  src: url("/assets/fonts/Montserrat-VariableFont_wght.ttf");
}

*:not(ion-icon) {
  font-family: "Montserrat" !important;
}

* {
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

//Card global styles

.top-10 {
  margin-top: 10px;
}

.margin-auto {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

// .register-card__container {
//   height: 90%;
//   max-height: 634px;
// }

.pricipal-col {
  height: 100%;

  @media screen and (min-height: 600px) {
    & {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.data-input {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 36px;
  padding: 8px 10px 8px 25px;
  // padding-left: 20px;
  background: rgba(143, 143, 143, 0.3);
  border-radius: 25px;
  text-align: center;
  color: #383838;
  border: none;

  input {
    width: 90%;
    background-color: transparent;
    outline: none;
    border: none;
    text-align: center;
  }

  img {
    width: 20px;
  }

  &.is-disabled {
    background: rgba(71, 71, 71, 0.616);
  }

  &:focus {
    outline: none;
  }

  // &.is-invalid {
  //   border: 1px solid #f1453d;
  // }
}

.register-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
  min-width: 310px;
  height: 95vh;
  min-height: 600px;
  max-width: 400px;
  max-height: 634px;
  margin: auto auto;
  padding: 25px;
  border-radius: 20px;
  // left: 0;
  font-family: "Montserrat", sans-serif;

  background-color: #fff;

  .image-container {
    width: 40%;
    height: auto;
    min-width: 100px;
    max-width: 150px;
    display: flex;
    margin: 0 auto;

    .step-img {
      width: 100%;
      height: 100%;
    }
  }

  .title-text-pos {
    font-size: 1.8rem;
    font-weight: bold;
    color: $title-color;
    text-transform: uppercase;
  }
  .subtitle-text-pos {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.7rem;
    color: $text-color;
  }

  .container-avatar {
    width: 135px;
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 5px;
    border-style: solid;
    border-width: 2px !important;
    border-color: #009dd6;
    border-radius: 100%;

    .outer {
      width: 100%;
      height: 100%;
      max-width: 130px; /* any size */
      max-height: 130px; /* any size */
      // margin: auto;
      border-radius: 100%;
      position: relative;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .back-link {
    margin: 15px auto;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.7rem;
  }

  // .progress {
  //   margin-bottom: 20px;
  // }

  .ignore-container {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40 0 0;
    position: absolute;
    bottom: -60px;
    left: 0;

    .ignore-container__link {
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 2rem;
      text-transform: uppercase;

      a {
        color: #fff;
      }
    }
  }
}

.ignore-container {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40 0 0;
  position: absolute;
  bottom: -60px;
  left: 0;

  .ignore-container__link {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem;
    text-transform: uppercase;

    a {
      color: #fff;
    }
  }
}

.not-license {
  p {
    margin: 0 auto;
  }
}

.have-not-link {
  color: #009dd6;
  cursor: pointer;

  &:active {
    color: #2364d4;
  }
}

.profile-name {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.2rem;
  color: $text-color;
  text-transform: uppercase;
}

.profile-text {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 20px;
  color: $text-color;
}

.profile-golfer {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.6rem;
  margin: 0;
  color: $text-color;
}

.profile-license {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.7rem;
  color: $text-color;
}

.erros-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20px;
}

.next-button {
  height: 40px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2rem;
  --background: #009dd6;
  // margin-top: 20px;
  margin-bottom: 20px;
  text-transform: capitalize;

  span {
    margin-right: 10px;
  }
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}
