<div *ngIf="notificationSvc.userNotifications$.value.length > 0">
  <div class="pt-notification" *ngFor="let n of notificationSvc.userNotifications$.value; index as i">
    <ion-item style="padding-left: 10px;" lines="none" class="ion-no-padding">
      <ion-avatar (click)="goToUserProfile(n.data.user_sender.id)" slot="start">
        <img [src]="n.data.user_sender.profile && n.data.user_sender.profile.photo ? n.data.user_sender.profile.photo : avatar" />
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        {{n.data.detail}}    
      </ion-label>
      <span slot="end">
      <div class="time-ago">{{n.date | timeAgo}} </div> 
      </span> 
    </ion-item>
    <ion-item lines="none">
      <ion-buttons *ngIf="n.data.type == 'games'" slot="start">
        <ion-button  color="secondary" shape="round" mode="ios" fill="solid" (click)="acceptGameRequest(n,i)">
          Aceptar          
        </ion-button>
        <span style="padding: 0px 2px 2px 0px;"></span>
        <ion-button  color="medium" shape="round" mode="ios" fill="solid" (click)="declineGameRequest(n,i)">
          Rechazar 
        </ion-button>
        <ion-button  color="success" shape="round" mode="ios" fill="solid" (click)="goToGame(n.data.game_id)">
          Ver
        </ion-button>
      </ion-buttons>


      <ion-buttons *ngIf="n.data.type == 'RequestGames'" slot="start">
       <ion-button color="secondary" shape="round" mode="ios" fill="solid" (click)="acceptJoinRequest(n,i)">
          Aceptar          
        </ion-button>
        <span style="padding: 0px 2px 2px 0px;"></span>
        <ion-button color="medium" shape="round" mode="ios" fill="solid" (click)="declineJoinRequest(n,i)">
          Rechazar   
        </ion-button>
        <ion-button  color="success" shape="round" mode="ios" fill="solid" (click)="goToGame(n.data.game_id)">
          Ver         
        </ion-button>
      </ion-buttons>

      <ion-buttons *ngIf="n.data.type == 'friends'" slot="start">
        <ion-button color="secondary" shape="round" mode="ios" fill="solid" (click)="acceptFriendRequest(n,i)">
          Aceptar          
        </ion-button>
        <span style="padding: 0px 2px 2px 0px;"></span>
        <ion-button color="medium" shape="round" mode="ios" fill="solid" (click)="declineFriendRequest(n,i)">
          Rechazar  
        </ion-button>
       </ion-buttons>    
    </ion-item>
  </div>

</div>
<div class="empty" *ngIf="notificationSvc.userNotifications$.value.length == 0">
  <ion-icon name="notifications-outline"></ion-icon>
  <h3>No hay actividad reciente</h3>
</div>