<div *ngIf="unreadNotifications.length > 0 && !loading">

  <div class="title">Nuevas</div>

  <div class="pt-notification" *ngFor="let n of unreadNotifications; index as i">

    <!--===============Notificación=================-->
    <ion-item style="padding-left: 10px;" lines="none" class="ion-no-padding">
      <ion-avatar (click)="goToUserProfile(n.data.user_sender.id)" slot="start">
        <img
          [src]="n.data.user_sender.profile && n.data.user_sender.profile.photo ? n.data.user_sender.profile.photo : avatar" />
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        {{n.data.detail}}
      </ion-label>
      <span slot="end">
        <div class="time-ago">{{n.date | timeAgo}} </div>
      </span>
    </ion-item>



 <!--===============Botones=================-->


    <ion-item *ngIf="notificationTypesWithBtn.includes(n.data.type)" lines="none">
      
      <ion-buttons *ngIf="n.data.type == 'TournamentsFinalized'" slot="start">
        <ion-button color="success" shape="round" mode="ios" fill="solid" (click)="validateTournament(n, i)">
          Calificar
        </ion-button>
      </ion-buttons>

       <!--===============Botón para calificar un campo después de terminar un juego=================-->
       <ion-buttons *ngIf="n.data.type == 'StatusGames'" slot="start">
        <ion-button color="success" shape="round" mode="ios" fill="solid" (click)="validateGame(n, i)">
          Calificar
        </ion-button>
      </ion-buttons>

      <!--===============Botones para invitaciones de juegos=================-->
      <ion-buttons *ngIf="n.data.type == 'games'" slot="start">
        <ion-button color="secondary" shape="round" mode="ios" fill="solid" (click)="acceptGameRequest(n,i)">
          Aceptar
        </ion-button>
        <span style="padding: 0px 2px 2px 0px;"></span>
        <ion-button color="medium" shape="round" mode="ios" fill="solid" (click)="declineGameRequest(n,i)">
          Rechazar
        </ion-button>
        <ion-button color="success" shape="round" mode="ios" fill="solid" (click)="goToGame(n.data.game_id)">
          Ver
        </ion-button>
      </ion-buttons>

      <!--===============Botones para solicitudes de juego del usuario=================-->
      <ion-buttons *ngIf="n.data.type == 'RequestGames'" slot="start">
        <ion-button color="secondary" shape="round" mode="ios" fill="solid" (click)="acceptJoinRequest(n,i)">
          Aceptar
        </ion-button>
        <span style="padding: 0px 2px 2px 0px;"></span>
        <ion-button color="medium" shape="round" mode="ios" fill="solid" (click)="declineJoinRequest(n,i)">
          Rechazar
        </ion-button>
        <ion-button color="success" shape="round" mode="ios" fill="solid" (click)="goToGame(n.data.game_id)">
          Ver
        </ion-button>
      </ion-buttons>

      <!--===============Botones para solicitudes de amistad=================-->
      <ion-buttons *ngIf="n.data.type == 'friends'" slot="start">
        <ion-button color="secondary" shape="round" mode="ios" fill="solid" (click)="acceptFriendRequest(n,i)">
          Aceptar
        </ion-button>
        <span style="padding: 0px 2px 2px 0px;"></span>
        <ion-button color="medium" shape="round" mode="ios" fill="solid" (click)="declineFriendRequest(n,i)">
          Rechazar
        </ion-button>
      </ion-buttons>
    </ion-item>
  </div>
</div>


<div *ngIf="readNotifications.length > 0 && !loading">

  <div class="title">Anteriores</div>

  <div class="pt-notification" *ngFor="let n of readNotifications; index as i">

    <!--===============Notificación=================-->
    <ion-item style="padding-left: 10px;" lines="none" class="ion-no-padding">
      <ion-avatar (click)="goToUserProfile(n.data.user_sender.id)" slot="start">
        <img
          [src]="n.data.user_sender.profile && n.data.user_sender.profile.photo ? n.data.user_sender.profile.photo : avatar" />
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        {{n.data.detail}}
      </ion-label>
      <span slot="end">
        <div class="time-ago">{{n.date | timeAgo}} </div>
      </span>
    </ion-item>


 
  </div>
</div>


 <!--===============Cargando=================-->
<ion-list class="ion-padding" *ngIf="loading" lines="none">
  <div class="chat-pt" *ngFor="let room of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]">
    <ion-item>

      <ion-avatar>
        <ion-skeleton-text animated style="width: 100%;height: 100%;"></ion-skeleton-text>
      </ion-avatar>
      <ion-label class="ion-margin-start">
        <h3>
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </div>
</ion-list>