<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>248337356424-lorl1f322ct1kr0kcnmlj8gilc90q5pk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.248337356424-lorl1f322ct1kr0kcnmlj8gilc90q5pk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>248337356424-1n8q46d66lm45c7d2jpammq8d3n4t6u0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBtOdyY643TaKCqkdzLKyjyVlmSM_nFzzA</string>
	<key>GCM_SENDER_ID</key>
	<string>248337356424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.golfpeople.app</string>
	<key>PROJECT_ID</key>
	<string>golf-people</string>
	<key>STORAGE_BUCKET</key>
	<string>golf-people.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:248337356424:ios:d0c31655772919cd94313d</string>
	<key>DATABASE_URL</key>
	<string>https://golf-people-default-rtdb.firebaseio.com</string>
</dict>
</plist>