.players-container {
    width: 100%;
    min-height: 120px;
    background: rgba(221, 221, 221, 0.2);
    border-radius: 20px;
    padding: 25px 15px 0px 15px;
   margin-top: 10px;
    ion-col{
      padding-bottom: 10px;
    }
  }